{% extends '::base.html.twig' %}

{% block title %}
	{{comunidad.codigo}} -
{% endblock %}

{% block stylesheets %}
 {{ parent() }}
    <link rel='stylesheet' type='text/css' href="{{ asset('css/menu_comunidad.css') }}" />

{% endblock %}

{% block javascripts %}
  {{ parent() }}
    <script type='text/javascript' src="{{ asset('js/dropdown-menu.min_comunidad.js') }}"></script>        

{% endblock %}

{% block sidebar %}
 {{ parent() }}

{% endblock %}

{% block colder %} 
	{{ parent() }}
	      
	<div id="menu_comunidad"> 
		<div class="verde titulo_comunidad letra_miltonian"><em>{% trans %}Comunidad{% endtrans %}: </em><em>{{comunidad.codigo}}</em></div>

		<div class="nav_comunidad">
			<nav>
				<ul>
					<li><a href="{{ path('ec_tablon_comunidad', { 'cif': comunidad.cif }) }}">{% trans %}Tablón{% endtrans %}</a></li>
					<li><a href="{{ path('ec_reuniones_comunidad', { 'cif': comunidad.cif }) }}">{% trans %}Reuniones{% endtrans %}</a></li>		
					<li><a href="{{ path('ec_adminfincas_comunidad_listado_bloques', { 'cif': comunidad.cif }) }}">{% trans %}Bloques{% endtrans%}</a></li>	
					<li><a href="{{ path('ec_adminfincas_comunidad_listado_propietarios', { 'cif': comunidad.cif }) }}">{% trans %}Propietarios{% endtrans %}</a></li>
					<li><a href="{{ path('ec_listado_incidencias', { 'cif': comunidad.cif }) }}">{% trans %}Incidencias{% endtrans %}</a></li>	
					<li><a href="{{ path('ec_listado_documentos', { 'cif': comunidad.cif }) }}">{% trans %}Documentos{% endtrans %}</a></li>	
				</ul>	
			</nav>
		</div>
	</div>
	
	<div class="clear"></div>
{% endblock %}