{% extends '::base.html.twig' %}

{% block title %}
	{{comunidad.codigo}} -
{% endblock %}

{% block stylesheets %}
 {{ parent() }}
    <link rel='stylesheet' type='text/css' href="{{ asset('css/menu_comunidad.css') }}" />
    <link rel='stylesheet' type='text/css' href="{{ asset('css/slicknav_comunidad.css') }}" />
{% endblock %}

{% block javascripts %}
  {{ parent() }}
   <script type='text/javascript' src="{{ asset('js/dropdown-menu.min_comunidad.js') }}"></script>

	<script>
		$(document).ready(function() {
 
			// store url for current page as global variable
			current_page = document.location.href
 
			// apply selected states depending on current page
			if (current_page.match('.*tablon.*')) {
				$("#menu_comunidad li:eq(0)").addClass('selected');
			} else if (current_page.match('.*reunion.*')) {
				$("#menu_comunidad li:eq(1)").addClass('selected');
			} else if (current_page.match('.*incidencia.*')) {
				$("#menu_comunidad li:eq(2)").addClass('selected');
			} else if (current_page.match('.*documento.*')) {
				$("#menu_comunidad li:eq(3)").addClass('selected');
			} else if (current_page.match('.*propietario.*')) {
				$("#menu_comunidad li:eq(4)").addClass('selected');
			} else if (current_page.match('.*bloque.*')) {
				$("#menu_comunidad li:eq(5)").addClass('selected');
			} else { // don't mark any nav links as selected
				$("#menu_comunidad li").removeClass('selected');
			};
		});
	</script>
	<script type='text/javascript' src="{{ asset('js/menu_comunidad.js') }}"></script>  
	<script type='text/javascript'>
		$(document).ready(function(e) {
 			$('a[href="http://apycom.com/"]').parent().parent().remove();
		});
	</script>
	         
{% endblock %}

{% block sidebar %}
 {{ parent() }}

{% endblock %}

{% block colder %} 
	{{ parent() }}
	<div id="menu_comunidad_general">
		<div class="verde titulo_comunidad letra_miltonian"><em>{% trans %}Comunidad{% endtrans %}: </em><em>{{comunidad.codigo}}</em></div>
		
		<div id="menu_comunidad">
				<ul id="menu_comunidad_movil" class="menu_comunidad">
					<li class="first"><a href="{{ path('ec_tablon_comunidad', { 'cif': comunidad.cif }) }}"><span>{% trans %}Tablón{% endtrans %}</span></a></li>
					<li><a href="{{ path('ec_reuniones_comunidad', { 'cif': comunidad.cif }) }}"><span>{% trans %}Reuniones{% endtrans %}</span></a></li>		
					<li><a href="{{ path('ec_listado_incidencias', { 'cif': comunidad.cif }) }}"><span>{% trans %}Incidencias{% endtrans %}</span></a></li>	
					<li><a href="{{ path('ec_listado_documentos', { 'cif': comunidad.cif }) }}"><span>{% trans %}Documentos{% endtrans %}</span></a></li>	
					<li><a href="{{ path('ec_adminfincas_comunidad_listado_propietarios', { 'cif': comunidad.cif }) }}"><span>{% trans %}Propietarios{% endtrans %}</span></a></li>
					<li class="last"><a href="{{ path('ec_adminfincas_comunidad_listado_bloques', { 'cif': comunidad.cif }) }}"><span>{% trans %}Bloques{% endtrans%}</span></a></li>	
				</ul>	
		</div>
	</div>

	<div class="clear"></div>
	
	   <script type='text/javascript' src="{{ asset('js/jquery.slicknav_comunidad.min.js') }}"></script>	
	<script>
		$(function(){
			$('#menu_comunidad_movil').slicknav_comunidad();
			document.getElementById('label_comunidad').innerHTML = 'Comunidad {{comunidad.codigo}}';
		});
</script>  
{% endblock %}