{% extends '::base.html.twig' %}

{% block title %}
	 {{ parent() }}
	 
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
 
   <link rel='stylesheet' type='text/css' href="{{ asset('css/botones.css') }}" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}
   <script type="text/javascript">
       	var Print = '{%trans%}Imprimir gráfico{%endtrans%}';
       	var DownloadPNG = '{%trans%}Descargar imagen PNG{%endtrans%}';
       	var DownloadJPEG = '{%trans%}Descargar imagen JPEG{%endtrans%}';
       	var DownloadPDF = '{%trans%}Descargar documento PDF{%endtrans%}';
       	var DownloadSVG = '{%trans%}Descargar imagen vectorial SVG{%endtrans%}';
       	var ChartContext = '{%trans%}Menú contextual Gráfico{%endtrans%}';
	</script>
{% endblock %}

{% block colder %}    
	 {{ parent() }}
	 
	 <h2 class="centrado">{% trans %}Estadísticas{% endtrans %}</h2>
	 
	 <nav>
	 	<a class="boton_estadistica btn_estadistica_comunidades" href="{{ path('ec_adminfincas_estadisticas_comunidades') }}">{% trans %}Comunidades{% endtrans %}</a>
	 	<a class="boton_estadistica btn_estadistica_incidencia_categoria" href="{{ path('ec_adminfincas_estadisticas_incidencias_categorias') }}">{% trans %}Incidencias/Categorías{% endtrans %}</a>
	 	<a class="boton_estadistica btn_estadistica_incidencia_fecha" href="{{ path('ec_adminfincas_estadisticas_incidencias_fecha') }}">{% trans %}Incidencias/Fecha{% endtrans %}</a>
	 	<a class="boton_estadistica btn_estadistica_anuncio_categoria" href="{{ path('ec_adminfincas_estadisticas_anuncios_categorias') }}">{% trans %}Anuncios/Categorías{% endtrans %}</a>
	</nav>
	
{% endblock %}