{% extends 'ECPrincipalBundle::layout.html.twig' %}

{% block title %}
	{% trans %}Editar Comunidad{% endtrans %} -
	{{ parent() }}
{% endblock %}

{% block colder %}
	{{ parent() }}
	
	{% for flashMessage in app.session.flashbag.get('notice') %}
			{% for flashColor in app.session.flashbag.get('color') %}
    			<div class="flash-notice mensaje {{flashColor}}">
        			{{ flashMessage }}
    			</div>
    		{% endfor %}
	{% endfor %}
	
	<section id="form_login">
		<h2 class="centrado">{% trans %}Editar Comunidad{% endtrans %}</h2>
		
      <form action="{{ path('ec_adminfincas_comunidad_editar', { 'id_comunidad': comunidad.id }) }}" method="post">
    		<div class="red">{{ form_errors(form) }}</div>
		
			<div class="campo">
        		<div class="label_campo3">{{ form_label(form.codigo) }}</div>
        		{{ form_widget(form.codigo) }}
       		 <div class="error red">{{ form_errors(form.codigo) }}</div>        
    		</div>    		    		

    		<div class="campo">
    			<input type="submit" value="{% trans %}Guardar{% endtrans %}"/>
    			<input type="button" value="{% trans %}Volver{% endtrans %}" onclick="history.back()"/>
    		</div>
 
		</form>
	</section>
{% endblock %}