{% extends 'ECPrincipalBundle::layout.html.twig' %}

{% block title %}
	{% trans %}Mis Comunidades{% endtrans %} -
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/table.css') }}" type="text/css" rel="stylesheet" />
    <link rel='stylesheet' type='text/css' href="{{ asset('css/botones.css') }}" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
       	var Buscar = '{%trans%}Buscar{%endtrans%}';
       	var Mostrando = '{%trans%}Mostrando{%endtrans%}';
       	var entradas = '{%trans%}entradas{%endtrans%}';
       	var de = '{%trans%}de{%endtrans%}';
       	var a = '{%trans%}a{%endtrans%}';
			var Anterior = '{%trans%}Anterior{%endtrans%}';
			var Siguiente = '{%trans%}Siguiente{%endtrans%}';
			var NoDatos = '{%trans%}No hay datos{%endtrans%}';
			var NoRegistros = '{%trans%}No hay registros coincidentes encontrados{%endtrans%}';
			var Cargando = '{%trans%}Cargando...{%endtrans%}';
			var Procesando = '{%trans%}Procesando...{%endtrans%}';
			var filtrado = '{%trans%}filtrado{%endtrans%}';
	</script>
	<script type='text/javascript' src="{{ asset('js/jquery.dataTables.js') }}"></script>    
	<script type="text/javascript">
			$(document).ready(function() {
				$('#example').dataTable();
			} );
	</script>
{% endblock %}

{% block colder %}
	{{ parent() }}
	
	{% for flashMessage in app.session.flashbag.get('notice') %}
			{% for flashColor in app.session.flashbag.get('color') %}
    			<div class="flash-notice mensaje {{flashColor}}">
        			{{ flashMessage }}
    			</div>
    		{% endfor %}
	{% endfor %}

	<h2 class="centrado">{% trans %}Mis Comunidades{% endtrans %}</h2>
	
	<a class="boton_alta btn_nuevo" href="{{ path('ec_adminfincas_alta_comunidad') }}"><span>{% trans %}Nueva Comunidad{% endtrans %}</span></a>
	<a href="{{ path('ec_adminfincas_listado_comunidades_pdf') }}"><img src="{{ asset('images/pdf-icon.png') }}" alt="pdf"></a>
	<a href="{{ path('ec_adminfincas_listado_comunidades_csv') }}"><img src="{{ asset('images/csv-icon.png') }}" alt="csv"></a>
	
	<div id="demo">
		<table class="display" id="example">
			<thead>
				<tr>
					<th id="codigo"><span>{% trans %}Código{% endtrans %}</span> <span class="no_mostrar">{% trans %}Despacho{% endtrans %}</span></th>
					<th id="cif" class="no_mostrar">{%trans%}Cif{%endtrans%}</th>
					<th id="cuidad">{% trans %}Ciudad{% endtrans %}</th>
					<th id="n_bloques" class="no_mostrar">{% trans %}NºBloques{% endtrans %}</th>
					<th id="n_propietarios" class="no_mostrar">{% trans %}NºPropietarios{% endtrans %}</th>
					<th id="acciones">{% trans %}Acciones{% endtrans %}</th>
				</tr>
			</thead>
			<tbody>
			{% for comunidad in comunidades %}
				<tr class="gradeX">
				   <td headers="codigo" class="cursor_pointer" onclick="window.location.href='{{ path('ec_tablon_comunidad', { 'id_comunidad': comunidad.id }) }}';">{{comunidad.codigo}}</td>
       			<td headers="cif" class="no_mostrar cursor_pointer" onclick="window.location.href='{{ path('ec_tablon_comunidad', { 'id_comunidad': comunidad.id }) }}';">{{comunidad.cif}}</td>
       			<td headers="cuidad" class="cursor_pointer" onclick="window.location.href='{{ path('ec_tablon_comunidad', { 'id_comunidad': comunidad.id }) }}';">{{comunidad.city.name}}</td>
       			<td headers="n_bloques" class="no_mostrar cursor_pointer" onclick="window.location.href='{{ path('ec_tablon_comunidad', { 'id_comunidad': comunidad.id }) }}';">{{comunidad.getBloques()|length}}</td>
       			<td headers="n_propietarios" class="no_mostrar cursor_pointer" onclick="window.location.href='{{ path('ec_tablon_comunidad', { 'id_comunidad': comunidad.id }) }}';">{{comunidad.getNPropietarios()}}</td>
       			<td headers="acciones">
       				<a href="{{ path('ec_adminfincas_comunidad_editar', { 'id_comunidad': comunidad.id}) }}"><img src="{{ asset('images/pencil-icon.png') }}" alt="edit"></a>
       				<a href="{{ path('ec_adminfincas_comunidad_eliminar', { 'id_comunidad': comunidad.id}) }}" onclick="return confirm('{%trans%}¿Estás seguro de eliminar la comunidad{%endtrans%} {{comunidad.codigo}}?')"><img src="{{ asset('images/action-cancel-icon.png') }}" alt="delete"></a>
       			</td>
      		</tr> 
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}