{% extends is_granted('ROLE_ADMINFINCAS') and comunidad is not empty ? 'ECPrincipalBundle::layout_comunidad.html.twig' : 'ECPrincipalBundle::layout.html.twig' %}

{% block title %}
	{% trans %}Tablón{% endtrans %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel='stylesheet' type='text/css' href="{{ asset('css/tablon.css') }}" />
{% endblock %}

{% block javascripts %}
		{{ parent() }}

{% endblock %}

{% block colder %}
	{{ parent() }}
	<hgroup>
		{% if is_granted('ROLE_ADMINFINCAS') and comunidad is empty %}
			<h2 class="verde centrado">{% trans %}Tablón{% endtrans %}</h2>
		{% else %}
			<h2 class="verde centrado">{% trans %}Tablón de la Comunidad{% endtrans %}</h2>
		{% endif %}
	</hgroup>

	<hgroup>	
		<h3 class="verde izquierda">{% trans %}Incidencias abiertas:{% endtrans %}</h3>
	</hgroup>
		{% if incidencias is empty%}
			<p>No existen incidencias.</p>
		{% else %}
			{% for incidencia in incidencias %}
				<a class="enlace" href="{{ path('ec_incidencia', { 'id': incidencia.id }) }}">
					<article class="entrada">
							<img src="{{ asset('images/lupa.gif') }}" alt="ver"/>
							{{incidencia.fecha | date("d/m/Y")}} 
							{% if is_granted('ROLE_ADMINFINCAS') and comunidad is empty%}<b>Comunidad: </b>{{incidencia.propietario.propiedad.bloque.comunidad.codigo}}{% endif %}
							<b>Categoria: </b>{{incidencia.categoria.nombre}} 
							<b>Bloque: </b>{{incidencia.propietario.propiedad.bloque.num}} 
							<b>Piso: </b>{{incidencia.propietario.propiedad.piso}}
					</article>
				</a>
			{% endfor %}
		{% endif %}
	
		<hr class="verde"></hr>
	
		<hgroup>
			<h3 class="verde izquierda">{% trans %}Próximas reuniones:{% endtrans %}</h3>
		</hgroup>
		
		{% if reuniones is empty%}
			<p>No hay reuniones próximamente.</p>
		{% else %}
			{% for reunion in reuniones %}
					{% if is_granted('ROLE_ADMINFINCAS') %}  					
				   	<a class="enlace" href="{{ path('ec_ver_reunion_comunidad', { 'id': reunion.id, 'cif': reunion.comunidad.cif }) }}" style="cursor:pointer;">
				   		<article class="entrada">
				   			<img src="{{ asset('images/lupa.gif') }}" alt="ver"/> 
				   			{{reunion.fecha | date("d/m/Y h:i:s a")}} 
				   			{% if comunidad is empty %}
				   				<b>Comunidad: </b>{{reunion.comunidad.codigo}}
				   			{% endif %}
				   			<b>Descripción: </b>{{reunion.descripcion}} 
				   		</article>
				   	</a>      		
					{% else %}
				   	<a class="enlace" href="{{ path('ec_ver_reunion_comunidad', { 'id': reunion.id }) }}" style="cursor:pointer;">
				   		<article class="entrada">
				   			<img src="{{ asset('images/lupa.gif') }}" alt="ver"/>
				   			{{reunion.fecha | date("d/m/Y h:i:s a")}} <b>Descripción: </b>{{reunion.descripcion}} 
				   		</article>  
				   	</a>   		
					{% endif %}
			{% endfor %}
		{% endif %}												
{% endblock %}