<!DOCTYPE html>
<html lang="{{ app.request.locale }}" xml:lang="{{ app.request.locale }}" xmlns="http://www.w3.org/1999/xhtml">
    <head>
    	  {% block meta %}
        		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        		<meta content="Herramienta web para la administración de comunidades de propietarios" name="description"/>
		  		<meta content="administrador, fincas, gestión, comunidades, vecinos, propiedades, propietarios, bloques, segunda mano" name="keywords"/>
		  		<meta content="width=device-width, initial-scale=1" name="viewport"/>
		  {% endblock %}
        <title>{% block title %}EntreComunidades{% endblock %}</title>
        <!--[if lt IE 9]>
            <script type="text/javascript" src="{{ asset('js/html5.js') }}"></script>
        <![endif]-->
        {% block stylesheets %}
            <link type="text/css" rel="stylesheet" href="{{ asset('css/principal.css') }}"/>
            <link type='text/css' rel='stylesheet' href="{{ asset('css/menu.css') }}"/>
            <link type='text/css' rel='stylesheet' href="{{ asset('css/submenu.css') }}"/>
            <link rel='stylesheet' type='text/css' href="{{ asset('css/slicknav_submenu.css') }}" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% block javascripts %}
				<script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
				<script type="text/javascript" src="{{ asset('js/jquery.js')}}"></script>
				<script type="text/javascript" src="{{ asset('js/menu.js')}}"></script>
				<script type="text/javascript" src="{{ asset('js/submenu.js')}}"></script>
        {% endblock %}
    </head>
    <body>
    		<div id="box">
            <header id="topheader">
            		<section id="tituloheader">
            		  	<a href="{{ path('ec_buscador_anuncios') }}">
            		  			<h1>
            		  				<span id="entre" class="amarillo">Entre</span>
            		  				<span class="blanco">Comunidades</span>
            		  			</h1>
            		  	</a>
            		  	<div id="idiomas">
								<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : 'es'})) }}"><img src="{{ asset('images/es.png') }}" alt="Idioma Español" /></a>
        						<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : 'en'})) }}"><img src="{{ asset('images/en.png') }}" alt="English language" /></a>
            		  	</div>
            		</section>
            </header>         		  
            <div id="wrapper">
            	<div id="subheader">	
                			<div id="botones">
                    			{% block navigation %}
									<div id="menu">
										<nav>
                            		<ul class="menu">
                                		<li><a href="{{ path('ec_buscador_anuncios') }}"><span>{% trans %}Inicio{% endtrans %}</span></a></li>
                                		<li><a href="{{ path('ec_principal_eres_adminfincas') }}"><span>{% trans %}¿Eres administrador?{% endtrans %}</span></a></li>
                                		<li class="last"><a href="{{ path('ec_principal_contacto') }}"><span>{% trans %}Contacto{% endtrans %}</span></a></li>
                            		</ul>
                            	</nav>
                        	</div>
                    			{% endblock %}
          			
                    			<div id="entrar">
										{% if is_granted('ROLE_ADMINFINCAS') or is_granted('ROLE_VECINO') %}	
											<a class="login" href="{{ path('logout') }}">{% trans %}Cerrar sesión{% endtrans %}</a>  
										{% else %}
											<a href="{{ path('login') }}" >{% trans %}Iniciar sesión{% endtrans %}</a>
										{% endif %}
									</div>
								</div>
						  </div>
            	<div id="contenido">
            		{% if is_granted('ROLE_ADMINFINCAS') or is_granted('ROLE_VECINO')%}
                		<div id="sidebar">
        						{% if is_granted('ROLE_ADMINFINCAS') %}	  
									<div id='submenu'>
										<nav>
											<ul id="submenu_movil" class="submenu">
												<li><a href="{{ path('ec_tablon_comunidad') }}"><span>{% trans %}Tablón{% endtrans %}</span></a></li>
   											<li><a href="{{ path('ec_adminfincas_listado_comunidades') }}"><span>{% trans %}Mis Comunidades{% endtrans %}</span></a></li>
   											<li><a href="{{ path('ec_adminfincas_estadisticas_comunidades') }}"><span>{% trans %}Estadísticas{% endtrans %}</span></a></li>
												<li class="last"><a href="{{ path('ec_adminfincas_perfil') }}"><span>{% trans %}Mi Perfil{% endtrans %}</span></a></li>
											</ul>
										</nav>
									</div>
									<div id="propiedad">
										<div>{{ app.user.nombre }} {{app.user.apellidos}}</div>
										<div>{% trans %}Administrador{% endtrans %}</div>
									</div>
								{% else %}
									{% if is_granted('ROLE_VECINO') %}
										<div id='submenu'>
											<nav>
												<ul id="submenu_movil" class="submenu">
													<li><a href="{{ path('ec_tablon_comunidad') }}"><span>{% trans %}Tablón{% endtrans %}</span></a></li>
													<li><a href="{{ path('ec_listado_mis_anuncios') }}"><span>{% trans %}Mis Anuncios{% endtrans %}</span></a></li>
													<li><a href="{{ path('ec_reuniones_comunidad') }}"><span>{% trans %}Reuniones{% endtrans %}</span></a></li>
													<li><a href="{{ path('ec_listado_incidencias') }}"><span>{% trans %}Incidencias{% endtrans %}</span></a></li>
													<li><a href="{{ path('ec_listado_servicios') }}"><span>{% trans %}Servicios{% endtrans %}</span></a></li>		
													<li><a href="{{ path('ec_listado_documentos') }}"><span>{% trans %}Documentos{% endtrans %}</span></a></li>																							
													<li class="last"><a href="{{ path('ec_propietario_perfil') }}"><span>{% trans %}Mi Perfil{% endtrans %}</span></a></li>
												</ul>
											</nav>
										</div>
										<div id="propiedad">
											<div>{{ app.user.razon }}</div>
											<div><strong>{{ app.user.propiedad }}</strong></div>
										</div>
									{% endif %}
								{% endif %}
   						</div>
						{% endif %}
   					<div id="col-der">
         				{% block colder %}
          	
         				{% endblock %}
   					</div>
   				</div>
				</div>
            <footer>
            	<div id="footer">
                {% block footer %}
                		<div id="titulofooter">
                     	<a href="{{ path('ec_buscador_anuncios') }}">
                     		<span class="amarillo titulofooter letra_miltonian">Entre</span><span class="blanco titulofooter letra_miltonian">Comunidades</span>
                     	</a>
                     	<span class="letra_miltonian no_mostrar">&nbsp;- Rafael Sánchez Muñoz</span>
                     </div>
                     <div id="tecnologiafooter">
                     	<a href="http://www.w3.org/standards/webdesign/accessibility" target="_blank">
                     		<img src="{{ asset('images/wcag2aa.png') }}" alt="W3C WCAG 2.0 AA" title="W3C WCAG 2.0 AA"/>
                     	</a>
                     	<a href="http://www.w3.org/html/logo/" target="_blank">
                     		<img src="{{ asset('images/html5_css3_icon.png') }}" alt="HTML5 Powered with CSS3" title="HTML5 Powered with CSS3"/>
                     	</a>                    	
                     </div>
                {% endblock %}
               </div>
            </footer>
      </div>
      <script type='text/javascript' src="{{ asset('js/jquery.slicknav_submenu.min.js') }}"></script>	
		<script>
				$(function(){
					$('#submenu_movil').slicknav_submenu();
					{% if is_granted('ROLE_ADMINFINCAS') or is_granted('ROLE_VECINO')%}
						document.getElementById('label_comunidad').innerHTML = '{%trans%}Menú{%endtrans%}';
					{% endif %}
				});
		</script>
    </body>
</html>