<!DOCTYPE html>
<html lang="{{ app.request.locale }}" xml:lang="{{ app.request.locale }}" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta content="Herramienta web para la administración de comunidades de propietarios" name="description"/>
		  <meta content="administrador, fincas, gestión, comunidades, vecinos, propiedades, propietarios, bloques, segunda mano" name="keywords"/>
        <title>{% block title %}- EntreComunidades{% endblock %}</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheets %}
            <link href="{{ asset('css/principal.css') }}" type="text/css" rel="stylesheet" />
            <link rel='stylesheet' type='text/css' href="{{ asset('css/menu.css') }}" />
            <link href='http://fonts.googleapis.com/css?family=Miltonian+Tattoo' rel='stylesheet' type='text/css'>
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% block javascripts %}
				<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
				<script type='text/javascript' src="{{ asset('js/menu_jquery.js') }}"></script>        
        {% endblock %}
    </head>
    <body>
            <header id="header">
            		  <section id="topheader">
            		  		<section id="tituloheader">
            		  			<a href="{{ path('ec_principal_homepage') }}">
            		  				<h1>
            		  					<em class="amarillo">Entre</em><em class="blanco">Comunidades</em>
            		  				</h1>
            		  			</a>
            		  			<section id="idiomas">
										<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : 'es'})) }}"><img src="{{ asset('images/es.png') }}" alt="Idioma Español" height="21" width="21" /></a>
        								<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : 'en'})) }}"><img src="{{ asset('images/en.png') }}" alt="English language" height="21" width="21" /></a>
            		  			</section>
            		  		</section>
            		  </section>
                	  <section id="subheader">	
                			<section id="botones">
                			   <nav>
                    			{% block navigation %}
									<section id="menu">
                            	<ul class="navigation">
                                <li><a href="{{ path('ec_principal_homepage') }}">{% trans %}Inicio{% endtrans %}</a></li>
                                <li><a href="{{ path('ec_principal_alta_adminfincas') }}">{% trans %}Alta Administrador{% endtrans %}</a></li>
                                <li><a href="{{ path('ec_principal_contacto') }}">{% trans %}Contacto{% endtrans %}</a></li>
                            	</ul>
                        	</section>
                    			{% endblock %}
          			
                    			<section id="entrar">
										{% if is_granted('ROLE_ADMINFINCAS') %}	  
											<div style="clear:both">{{ app.user.nombre }} {{app.user.apellidos}}</div>
											<div style="clear:both">{% trans %}Administrador de Fincas{% endtrans %}</div>
											<a style="clear:both" href="{{ path('logout') }}">{% trans %}Cerrar sesión{% endtrans %}</a>
										{% else %}
											{% if is_granted('ROLE_PRESIDENTE') %}
												<div style="clear:both">{{ app.user.nombre }}</div>
												<div style="clear:both">{% trans %}Presidente{% endtrans %}</div>
												<a style="clear:both" href="{{ path('logout') }}">{% trans %}Cerrar sesión{% endtrans %}</a>
											{% else %} 
												{% if is_granted('ROLE_VICEPRESIDENTE') %}
													<div style="clear:both">{{ app.user.nombre }}</div>
													<div style="clear:both">{% trans %}Vicepresidente{% endtrans %}</div>
													<a style="clear:both" href="{{ path('logout') }}">{% trans %}Cerrar sesión{% endtrans %}</a>
												{% else %}
													{% if is_granted('ROLE_VECINO') %}
														<div style="clear:both">{{ app.user.nombre }}</div>
														<div style="clear:both">{% trans %}Propietario{% endtrans %}</div>
														<a style="clear:both" href="{{ path('logout') }}">{% trans %}Cerrar sesión{% endtrans %}</a>
													{% else %}
														<a  href="{{ path('login') }}" >{% trans %}Acceder{% endtrans %}</a>
													{% endif %}
												{% endif %}
											{% endif %}
										{% endif %}
									</section>
									</nav>
								</section>
						  </section>
            </header>
            <section id="wrapper">
            	<section id="contenido">
                		<section id="sidebar">
                			{% block sidebar %}

        						{% endblock %}
        						{% if is_granted('ROLE_ADMINFINCAS') %}	  
								<div id='cssmenu'>
									<ul>
   									<li class="has-sub"><a href="#"><span>{% trans %}Mis Comunidades{% endtrans %}</span></a>
      									<ul>
      	   								<li><a href="{{ path('ec_adminfincas_alta_comunidad') }}"><span>{% trans %}Alta{% endtrans %}</span></a></li>
   	      								<li class="last"><a href="{{ path('ec_adminfincas_listado_comunidades') }}"><span>{% trans %}Listado{% endtrans %}</span></a></li>
    	 									</ul>
 	  									</li>
										<li class="has-sub"><a href="#"><span>{% trans %}Mi Perfil{% endtrans %}</span></a>
											<ul>
   											<li><a href="{{ path('ec_adminfincas_perfil') }}"><span>{% trans %}Datos Personales{% endtrans %}</span></a></li>
   											<li><a href="{{ path('ec_adminfincas_contraseña') }}"><span>{% trans %}Contraseña{% endtrans %}</span></a></li>
											</ul>
										</li>
									</ul>
								</div>
								{% else %}
									{% if is_granted('ROLE_VECINO') %}
										<div id='cssmenu'>
											<ul>
												<li class="has-sub"><a href="{{ path('ec_tablon_comunidad') }}"><span>{% trans %}Tablón{% endtrans %}</span></a>
												<li class="has-sub"><a href="{{ path('ec_reuniones_comunidad') }}"><span>{% trans %}Reuniones{% endtrans %}</span></a>
												<li class="has-sub"><a href="#"><span>{% trans %}Incidencias{% endtrans %}</span></a>
													<ul>
   													<li><a href="{{ path('ec_propietario_nueva_incidencia') }}"><span>{% trans %}Notificar{% endtrans %}</span></a></li>
   													<li><a href="{{ path('ec_listado_incidencias') }}"><span>{% trans %}Listado{% endtrans %}</span></a></li>
													</ul>
												</li>
												<li class="has-sub"><a href="{{ path('ec_listado_documentos') }}"><span>{% trans %}Documentos{% endtrans %}</span></a>
												
												</li>
												<li class="has-sub"><a href="#"><span>{% trans %}Mi Perfil{% endtrans %}</span></a>
													<ul>
   													<li><a href="{{ path('ec_propietario_perfil') }}"><span>{% trans %}Datos Personales{% endtrans %}</span></a></li>
   													<li><a href="{{ path('ec_propietario_contraseña') }}"><span>{% trans %}Contraseña{% endtrans %}</span></a></li>
													</ul>
												</li>
											</ul>
										</div>
									{% endif %}
								{% endif %}
   						</section>
	
   						<section id="col-der">
         					{% block colder %}
          	
         					{% endblock %}
   						</section>
            	</section>
				</section>
            <footer>
                {% block footer %}
                <section id="footer">
                		<section id="titulofooter">
                     	<a href="{{ path('ec_principal_homepage') }}">
                     		<em class="amarillo titulofooter">Entre</em><em class="blanco titulofooter">Comunidades</em>
                     	</a>
                     	<em>&nbsp;- Rafael Sánchez Muñoz</em>
                     </section>
                </section>
                {% endblock %}
            </footer>
    </body>
</html>