<!-- app/Resources/views/base.html.twig -->
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
        <title>{% block title %}EntreComunidades{% endblock %}</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheets %}
            <link href="{{ asset('css/principal.css') }}" type="text/css" rel="stylesheet" />
            <link rel='stylesheet' type='text/css' href="{{ asset('css/menu.css') }}" />
            <link href='http://fonts.googleapis.com/css?family=Miltonian+Tattoo' rel='stylesheet' type='text/css'>
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% block javascripts %}
				<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
				<script type='text/javascript' src="{{ asset('js/menu_jquery.js') }}"></script>        
        {% endblock %}
    </head>
    <body>
            <header id="header">
            		  <section id="topheader">
            		  		<section id="tituloheader">
            		  			<div class="titulo"><a href="{{ path('ec_principal_homepage') }}" style="color:#f7d118; text-decoration:none">Entre</a><a href="{{ path('ec_principal_homepage') }}" style="color:#fff; text-decoration:none;">Comunidades</a></div>
            		  			<section id="idiomas">
										<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : 'es'})) }}"><img src="{{ asset('images/es.png') }}" alt="Español" height="14" width="21" /></a>
        								<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : 'en'})) }}"><img src="{{ asset('images/en.png') }}" alt="English" height="14" width="21" /></a>
            		  			</section>
            		  		</section>
            		  </section>
                	  <section id="subheader">	
                			<section id="botones">
                			   <nav>
                    			{% block navigation %}
									<section id="menu">
                            	<ul class="navigation">
                                <li><a href="{{ path('ec_principal_homepage') }}">{% trans %}Inicio{% endtrans %}</a></li>
                                <li><a href="{{ path('ec_principal_alta_adminfincas') }}">{% trans %}Alta Administrador{% endtrans %}</a></li>
                                <li><a href="{{ path('ec_principal_contacto') }}">{% trans %}Contacto{% endtrans %}</a></li>
                            	</ul>
                        	</section>
                    			{% endblock %}
          			
                    			<section id="entrar">
										{% if is_granted('ROLE_ADMINFINCAS') %}	  
											<div style="clear:both">{{ app.user.nombre }} {{app.user.apellidos}}</div>
											<div style="clear:both">{% trans %}Administrador de Fincas{% endtrans %}</div>
											<a style="clear:both" href="{{ path('logout') }}">{% trans %}Cerrar sesión{% endtrans %}</a>
										{% else %}
											{% if is_granted('ROLE_PRESIDENTE') %}
												<div style="clear:both">{{ app.user.nombre }}</div>
												<div style="clear:both">{% trans %}Presidente{% endtrans %}</div>
												<a style="clear:both" href="{{ path('logout') }}">{% trans %}Cerrar sesión{% endtrans %}</a>
											{% else %} 
												{% if is_granted('ROLE_VICEPRESIDENTE') %}
													<div style="clear:both">{{ app.user.nombre }}</div>
													<div style="clear:both">{% trans %}Vicepresidente{% endtrans %}</div>
													<a style="clear:both" href="{{ path('logout') }}">{% trans %}Cerrar sesión{% endtrans %}</a>
												{% else %}
													{% if is_granted('ROLE_VECINO') %}
														<div style="clear:both">{{ app.user.nombre }}</div>
														<div style="clear:both">{% trans %}Propietario{% endtrans %}</div>
														<a style="clear:both" href="{{ path('logout') }}">{% trans %}Cerrar sesión{% endtrans %}</a>
													{% else %}
														<a  href="{{ path('login') }}" >{% trans %}Acceder{% endtrans %}</a>
													{% endif %}
												{% endif %}
											{% endif %}
										{% endif %}
									</section>
									</nav>
								</section>
						  </section>
            </header>
            <section id="wrapper">
            	<section id="contenido">
                		<section id="sidebar">
                			{% block sidebar %}

        						{% endblock %}
        						{% if is_granted('ROLE_ADMINFINCAS') %}	  
								<div id='cssmenu'>
									<ul>
   									<li class="has-sub"><a href="#"><span>Mis Comunidades</span></a>
      									<ul>
      	   								<li><a href="{{ path('ec_adminfincas_alta_comunidad') }}"><span>Alta</span></a></li>
   	      								<li class="last"><a href="{{ path('ec_adminfincas_listado_comunidades') }}"><span>Listado</span></a></li>
    	 									</ul>
 	  									</li>
										<li class="has-sub"><a href="#"><span>Mi Perfil</span></a>
											<ul>
   											<li><a href="{{ path('ec_adminfincas_perfil') }}"><span>Datos Personales</span></a></li>
   											<li><a href="{{ path('ec_adminfincas_contraseña') }}"><span>Contraseña</span></a></li>
											</ul>
										</li>
									</ul>
								</div>
								{% else %}
									{% if is_granted('ROLE_VECINO') %}
										<div id='cssmenu'>
											<ul>
												<li class="has-sub"><a href="#"><span>Mi Perfil</span></a>
													<ul>
   													<li><a href="{{ path('ec_propietario_perfil') }}"><span>Datos Personales</span></a></li>
   													<li><a href="{{ path('ec_propietario_contraseña') }}"><span>Contraseña</span></a></li>
													</ul>
												</li>
											</ul>
										</div>
									{% endif %}
								{% endif %}
   						</section>
	
   						<section id="col-der">
         					{% block colder %}
          	
         					{% endblock %}
   						</section>
            	</section>
				</section>
            <footer>
                {% block footer %}
                     <a href="{{ path('ec_principal_homepage') }}" style="color:#f7d118; text-decoration:none; font-family: 'Miltonian Tattoo', cursive, serif, Arial, Helvetica; font-size:15px;">Entre</a><a href="{{ path('ec_principal_homepage') }}" style="color:#fff; text-decoration:none; font-family: 'Miltonian Tattoo', cursive, serif, Arial, Helvetica; font-size:15px;">Comunidades</a> - Rafael Sánchez Muñoz
                {% endblock %}
            </footer>
    </body>
</html>