<!DOCTYPE html>
<html lang="{{ app.request.locale }}" xml:lang="{{ app.request.locale }}" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta content="Herramienta web para la administración de comunidades de propietarios" name="description"/>
		  <meta content="administrador, fincas, gestión, comunidades, vecinos, propiedades, propietarios, bloques, segunda mano" name="keywords"/>
		  <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <title>{% block title %}- EntreComunidades{% endblock %}</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheets %}
            <link type="text/css" rel="stylesheet" href="{{ asset('css/principal.css') }}"/>
            <link type='text/css' rel='stylesheet' href="{{ asset('css/menu.css') }}"/>
            <link type='text/css' rel='stylesheet' href="{{ asset('css/submenu.css') }}"/>
            <link rel='stylesheet' type='text/css' href="{{ asset('css/slicknav_submenu.css') }}" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% block javascripts %}
				<script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
				<script type="text/javascript" src="{{ asset('js/jquery.js')}}"></script>
				<script type="text/javascript" src="{{ asset('js/menu.js')}}"></script>
				<script type="text/javascript" src="{{ asset('js/submenu.js')}}"></script>
        {% endblock %}
    </head>
    <body>
    		<section id="box">
            <header id="header">
            		  <section id="topheader">
            		  		<section id="tituloheader">
            		  			<a href="{{ path('ec_buscador_anuncios') }}">
            		  				<hgroup>
            		  					<h1><em id="entre" class="amarillo">Entre</em><em id="comunidades" class="blanco">Comunidades</em></h1>
            		  				</hgroup>
            		  			</a>
            		  			<section id="idiomas">
										<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : 'es'})) }}"><img src="{{ asset('images/es.png') }}" alt="Idioma Español" height="19" width="19" /></a>
        								<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : 'en'})) }}"><img src="{{ asset('images/en.png') }}" alt="English language" height="19" width="19" /></a>
            		  			</section>
            		  		</section>
            		  </section>
                	  <section id="subheader">	
                			<section id="botones">
                    			{% block navigation %}
									<div id="menu">
                            		<ul class="menu">
                                		<li><a href="{{ path('ec_buscador_anuncios') }}"><span>{% trans %}Inicio{% endtrans %}</span></a></li>
                                		<li><a href="{{ path('ec_principal_eres_adminfincas') }}"><span>{% trans %}¿Eres administrador?{% endtrans %}</span></a></li>
                                		<li class="last"><a href="{{ path('ec_principal_contacto') }}"><span>{% trans %}Contacto{% endtrans %}</span></a></li>
                            		</ul>
                        	</div>
                    			{% endblock %}
          			
                    			<section id="entrar">
										{% if is_granted('ROLE_ADMINFINCAS') %}	
											<a class="letra_miltonian login" href="{{ path('logout') }}">{% trans %}Cerrar sesión{% endtrans %}</a>  
											<div>{{ app.user.nombre }} {{app.user.apellidos}}</div>
											<div>{% trans %}Administrador{% endtrans %}</div>
										{% else %}
											{% if is_granted('ROLE_PRESIDENTE') %}
												<a class="letra_miltonian" href="{{ path('logout') }}">{% trans %}Cerrar sesión{% endtrans %}</a>
												<div>{{ app.user.razon }}</div>
												<div>{% trans %}Presidente{% endtrans %}</div>
											{% else %} 
												{% if is_granted('ROLE_VICEPRESIDENTE') %}
													<a class="letra_miltonian" href="{{ path('logout') }}">{% trans %}Cerrar sesión{% endtrans %}</a>
													<div>{{ app.user.razon }}</div>
													<div>{% trans %}Vicepresidente{% endtrans %}</div>
												{% else %}
													{% if is_granted('ROLE_VECINO') %}
														<a class="letra_miltonian" href="{{ path('logout') }}">{% trans %}Cerrar sesión{% endtrans %}</a>
														<div>{{ app.user.razon }}</div>
														<div>{% trans %}Propietario{% endtrans %}</div>
													{% else %}
														<a class="letra_miltonian" href="{{ path('login') }}" >{% trans %}Iniciar sesión{% endtrans %}</a>
													{% endif %}
												{% endif %}
											{% endif %}
										{% endif %}
									</section>
								</section>
						  </section>
            </header>
            <section id="wrapper">
            	<section id="contenido">
            		{% if is_granted('ROLE_ADMINFINCAS') or is_granted('ROLE_VECINO')%}
                		<section id="sidebar">
        						{% if is_granted('ROLE_ADMINFINCAS') %}	  
									<div id='submenu'>
										<ul id="submenu_movil" class="submenu">
											<li><a href="{{ path('ec_tablon_comunidad') }}"><span>{% trans %}Tablón{% endtrans %}</span></a></li>
   										<li><a href="{{ path('ec_adminfincas_listado_comunidades') }}"><span>{% trans %}Mis Comunidades{% endtrans %}</span></a></li>
   										<li><a href="{{ path('ec_adminfincas_estadisticas_comunidades') }}"><span>{% trans %}Estadísticas{% endtrans %}</span></a></li>
											<li class="last"><a href="{{ path('ec_adminfincas_perfil') }}"><span>{% trans %}Mi Perfil{% endtrans %}</span></a></li>
										</ul>
									</div>
								{% else %}
									{% if is_granted('ROLE_VECINO') %}
										<div id='submenu'>
												<ul id="submenu_movil" class="submenu">
													<li><a href="{{ path('ec_tablon_comunidad') }}"><span>{% trans %}Tablón{% endtrans %}</span></a></li>
													<li><a href="{{ path('ec_listado_mis_anuncios') }}"><span>{% trans %}Mis Anuncios{% endtrans %}</span></a></li>
													<li><a href="{{ path('ec_reuniones_comunidad') }}"><span>{% trans %}Reuniones{% endtrans %}</span></a></li>
													<li><a href="{{ path('ec_listado_incidencias') }}"><span>{% trans %}Incidencias{% endtrans %}</span></a></li>
													<li><a href="{{ path('ec_listado_documentos') }}"><span>{% trans %}Documentos{% endtrans %}</span></a></li>																							
													<li class="last"><a href="{{ path('ec_propietario_perfil') }}"><span>{% trans %}Mi Perfil{% endtrans %}</span></a></li>
												</ul>
										</div>
										<div id="propiedad">
											{%trans%}Propiedad{%endtrans%}: <b>{{ app.user.propiedad.piso }}</b>
										</div>
									{% endif %}
								{% endif %}
   						</section>
						{% endif %}
   					<section id="col-der">
         				{% block colder %}
          	
         				{% endblock %}
   					</section>
            	</section>
				</section>
            <footer>
                {% block footer %}
                		<section id="titulofooter">
                     	<a href="{{ path('ec_buscador_anuncios') }}">
                     		<em class="amarillo titulofooter letra_miltonian">Entre</em><em class="blanco titulofooter letra_miltonian">Comunidades</em>
                     	</a>
                     	<em class="letra_miltonian">&nbsp;- Rafael Sánchez Muñoz</em>
                     </section>
                     <div id="tecnologiafooter">
                     	<a href="http://www.w3.org/html/logo/" target="_blank">
                     	<img src="{{ asset('images/html5_css3_icon.png') }}" alt="HTML5 Powered with CSS3" title="HTML5 Powered with CSS3"></img>
                     	</a>
                     </div>
                {% endblock %}
            </footer>
        </section>
        <script type='text/javascript' src="{{ asset('js/jquery.slicknav_submenu.min.js') }}"></script>	
		  <script>
				$(function(){
					$('#submenu_movil').slicknav_submenu();
					{% if is_granted('ROLE_ADMINFINCAS') or is_granted('ROLE_VECINO')%}
						document.getElementById('label_comunidad').innerHTML = '{%trans%}Menú{%endtrans%}';
					{% endif %}
				});
		  </script>
    </body>
</html>