{% extends is_granted('ROLE_ADMINFINCAS') ? 'ECPrincipalBundle::layout_comunidad.html.twig' : 'ECPrincipalBundle::layout.html.twig' %}

{% block title %}
	{{documento.descripcion}} -
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
 	{{ parent() }}
 	
   <link rel='stylesheet' type='text/css' href="{{ asset('css/botones.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
{% endblock %}

{% block colder %}
	{{ parent() }}

	{% for flashMessage in app.session.flashbag.get('notice') %}
			{% for flashColor in app.session.flashbag.get('color') %}
    			<div class="flash-notice mensaje {{flashColor}}">
        			{{ flashMessage }}
    			</div>
    		{% endfor %}
	{% endfor %}
	
	<h2 class="centrado">{%trans%}Documento{%endtrans%}</h2>
	
	<div id="documento" class="documento">
		<div><strong>{%trans%}Formato{%endtrans%}: </strong>
			{% if documento.getFormat()=='pdf' or documento.getFormat()=='odt' or documento.getFormat()=='odp' or documento.getFormat()=='ods' or documento.getFormat()=='doc' or documento.getFormat()=='txt' %}
				<img src="{{ asset('images/'~documento.getFormat()~'-icon.png') }}" alt="{{documento.getFormat()}}" />
			{% endif %}
			{{documento.getFormat()}}
			<strong> {%trans%}Tamaño{%endtrans%}: </strong>{{documento.getSize()}}
		</div>
   	<div><strong>{%trans%}Descripción{%endtrans%}: </strong>{{documento.descripcion}}</div>
		<div><strong>{%trans%}Categoría{%endtrans%}: </strong>{{documento.tipo.nombre|trans}} <strong>{%trans%}Fecha de creación{%endtrans%}: </strong><span class="azul_fuerte">{{documento.fecha | date("d/m/Y H:i:sa")}}</span></div>
		<div>
			<nav>
				<a class="boton_documento btn_download" href="{{ path('ec_documento_descargar', { 'id': documento.id })  }}">{%trans%}Descargar{%endtrans%}</a>
				{% if is_granted('ROLE_ADMINFINCAS') %}
					<a class="boton_documento btn_consulta" href="{{ path('ec_adminfincas_comunidad_consultas_documento', { 'id': documento.id}) }}" >{%trans%}Consultas{%endtrans%}</a>
					<a class="boton_documento btn_delete" href="{{ path('ec_adminfincas_comunidad_eliminar_documento', { 'id_comunidad': comunidad.id, 'id': documento.id}) }}" onclick="return confirm('{%trans%}¿Estás seguro de eliminar el documento{%endtrans%} {{documento.descripcion}}?')">{%trans%}Eliminar{%endtrans%}</a>
				{% endif %}
			</nav>
		</div>
	
		<iframe id="viewer" src="{{ asset('bundles/ecprincipal/Viewer.js/index.html') }}#{{ asset('uploads/documentos/'~documento.path~'') }}" width='700' height='900' allowfullscreen></iframe>
	</div>
	
	{% if is_granted('ROLE_VECINO') %}
			<div id="administrador" class="no_mostrar">
				<div class="centrado">
					Administrador: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.nombre}} {{app.user.bloque.comunidad.administrador.apellidos}}</span>
					Teléfono: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.telefono}}</span>
					{% if app.user.bloque.comunidad.administrador.fax!=null%}
						Fax: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.fax}}</span>
					{% endif %}
				</div>
				<div class="centrado">
					Email: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.email}}</span>
					Dirección: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.direccion}}, {{app.user.bloque.comunidad.administrador.localidad}} ({{app.user.bloque.comunidad.administrador.provincia}})</span>
				</div>
			</div>
		{% endif %}
{% endblock %}