{% extends is_granted('ROLE_ADMINFINCAS') ? 'ECPrincipalBundle::layout_comunidad.html.twig' : 'ECPrincipalBundle::layout.html.twig' %}

{% block title %}
	{{ parent() }}
	{{documento.descripcion}}
{% endblock %}

{% block stylesheets %}
 {{ parent() }}
      <link rel='stylesheet' type='text/css' href="{{ asset('css/botones_documentos.css') }}" />

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
{% endblock %}

{% block colder %}
	{{ parent() }}

	{% for flashMessage in app.session.flashbag.get('notice') %}
			{% for flashColor in app.session.flashbag.get('color') %}
    			<div class="flash-notice mensaje" style="color:{{flashColor}}; border-color:{{flashColor}};">
        		{{ flashMessage }}
    			</div>
    		{% endfor %}
	{% endfor %}
	
	<h2 class="verde centrado">{% trans %}Documento{% endtrans %}</h2>
	
   <p><b>Descripción: </b>{{documento.descripcion}}</p>
	<p><b>Creado el: </b><i>{{documento.fecha | localizeddate('long')}}</i></p>
	<p><b> Formato: </b>
		{% if documento.getFormat()=='pdf' or documento.getFormat()=='odt' or documento.getFormat()=='odp' or documento.getFormat()=='ods' or documento.getFormat()=='doc' or documento.getFormat()=='txt' %}
			<img src="{{ asset('images/'~documento.getFormat()~'-icon.png') }}" alt="{{documento.getFormat()}}"></img>
		{% endif %}
		{{documento.getFormat()}}
	</p>
	<p><b>Tamaño: </b>{{documento.getSize()}}</p>
	<p>
		<a class="boton_documento btn_download" href="{{ path('ec_documento_descargar', { 'id': documento.id })  }}">Descargar</a>
		{% if is_granted('ROLE_ADMINFINCAS') %}
			<a class="boton_documento btn_delete" href="{{ path('ec_adminfincas_comunidad_eliminar_documento', { 'cif': comunidad.cif, 'id': documento.id}) }}" onclick="return confirm('¿Estás seguro de eliminar el documento {{documento.descripcion}}?')">Eliminar</a>
		{% endif %}
	</p>
	
	<iframe id="viewer" src="{{ asset('bundles/ecprincipal/Viewer.js/index.html') }}#{{ asset('uploads/documentos/'~documento.path~'') }}" width='700' height='900' allowfullscreen webkitallowfullscreen></iframe>

{% endblock %}