{% extends 'ECPrincipalBundle::layout.html.twig' %}

	{% block meta %}
		{{ parent() }}
		
		{% if id_anuncio!= null %}
			{% for anuncio in anuncios %}
				<meta property="og:type" content="article">
				<meta property="og:url" content="{{ url('ec_buscador_anuncios', {'_locale': app.request.getLocale(), 'id_anuncio': anuncio.id}) }}">
				<meta property="og:title" content="{{anuncio.titulo}}">
				<meta property="og:description" content="{{anuncio.descripcion}}">
				{% set fotos=anuncio.getImagenes() %}
				{% if fotos|length()!=0 %}
						{% set primera= fotos|first %}
						<meta property="og:image" content="{{asset(primera.getWebPath())}}">
				{% endif %}
			{% endfor %}
		{% endif %}
{% endblock %}

{% block title %}
	{% trans %}Anuncios{% endtrans %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    <link rel='stylesheet' type='text/css' href="{{ asset('css/anuncios.css') }}" />
    <link rel='stylesheet' type='text/css' href="{{ asset('css/botones.css') }}" />
    <link rel='stylesheet' type='text/css' href="{{ asset('css/social-likes.css') }}" />
    <link rel='stylesheet' type='text/css' href="{{ asset('css/jquery.fancybox.css') }}" media="screen"/>
    <link rel="stylesheet" href="{{ asset('css/jquery-ui-dialog.css') }}" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
	<script type='text/javascript' src="{{ asset('js/jquery-ui.min.js') }}"></script>
	<script type='text/javascript' src="{{ asset('js/social-likes.min.js') }}" ></script>
	<script type='text/javascript' src="{{ asset('js/jquery.fancybox.js') }}" ></script>
	<script type='text/javascript' src="{{ asset('js/jquery.fancybox.pack.js') }}" ></script>
	<script type='text/javascript'>
	     var myContactar = '{{ 'Contactar'|trans }}';
	     var myDenunciar = '{{ 'Denunciar'|trans }}';
	</script>
	<script type='text/javascript' src="{{ asset('js/buscador.js') }}"></script>
	
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
	
{% endblock %}

{% block colder %}
	{{ parent() }}
	
	<div class="anuncio buscador_color">
		{{ form_start(form) }}
    		<div class="red">{{ form_errors(form) }}</div>
    		
    		<div class="campo_login flotar_izquierda">
        		<div class="label_campo_login">{{ form_label(form.categoria) }}</div>
        		{{ form_widget(form.categoria) }}
        		<div class="error red">{{ form_errors(form.categoria) }}</div>
    		</div>
    		
    		<div class="campo_login flotar_izquierda">
        		<div class="label_campo_login">{{ form_label(form.province) }}</div>
        		{{ form_widget(form.province) }}
        		<div class="error red">{{ form_errors(form.province) }}</div>
    		</div>
 
    		<div class="campo_login flotar_izquierda">
        		<div class="label_campo_login">{{ form_label(form.palabras) }}</div>
        		{{ form_widget(form.palabras) }}
        		<div class="error red">{{ form_errors(form.palabras) }}</div>
    		</div>
    		
    		<div class="campo_login flotar_izquierda">
        		<div class="label_campo_login">{{ form_label(form.orden) }}</div>
        		{{ form_widget(form.orden) }}
        		<div class="error red">{{ form_errors(form.orden) }}</div>
    		</div>
    		
    		<div class="campo_login flotar_izquierda">
        		<div class="label_campo_login">{{ form_label(form.mostrar) }}</div>
        		{{ form_widget(form.mostrar) }}
        		<div class="error red">{{ form_errors(form.mostrar) }}</div>
    		</div>
    		
    		<div class="campo_login flotar_izquierda">
    			<input type="submit" value="{% trans %}Buscar{% endtrans %}"/>
    		</div>
 
		{{ form_end(form) }}
	</div>
	
	{% if id_anuncio==null %}
		<div class="total_resultados">
			{% if anuncios is not null%}
				{{ anuncios.getTotalItemCount }} {%trans%}Resultados{%endtrans%}
			{% else %}
				0 {%trans%}Resultados{%endtrans%}
			{% endif %}
		</div>
	{% endif %}
	
	{% for anuncio in anuncios %}
		<div class="anuncio anuncio_color">
				<div class="titulo_anuncio">
					{{anuncio.fecha | date("d/m/Y")}} {{anuncio.comunidad.city.name}} ({{anuncio.comunidad.city.province.name}})
					<strong>{{anuncio.categoria.nombre|trans}}</strong>: {{anuncio.titulo}}
					<div class="referencia_anuncio">
						r{{anuncio.id}}
					</div>
				</div>
				<div>
					<div class="foto_anuncio">
					   {% set fotos=consulta_service_global.consulta_imagenes_anuncio(anuncio.id) %}
						{% if fotos|length()!=0 %}
							{% set count=0 %}
							{% for foto in fotos%}
								{% if count==0 %}
									<a class="grouped_elements" data-fancybox-group="group{{anuncio.id}}" href="{{ asset(foto.getWebPath()) }}" title="{%trans%}Imagen{%endtrans%}">
										<img src="{{ image(asset(foto.getWebPath())).cropResize(200,150) }}" alt="Imagen anuncio" />
									</a>
									{% set count=count+1%}
								{% else %}
									<a class="grouped_elements no_mostrar" data-fancybox-group="group{{anuncio.id}}" href="{{ asset(foto.getWebPath()) }}" title="{%trans%}Imagen{%endtrans%}"><span class="oculto">{%trans%}Imagen{%endtrans%}</span></a>
								{% endif %}
							{% endfor %}
						{% else %}
							<img src="{{ asset('images/no_foto.jpg') }}" alt="No foto" />
						{% endif %}
					</div>
					<div class="descripcion_anuncio">
						{% if id_anuncio==null %}
							{% if anuncio.highlights is empty%}
								{{anuncio.descripcion}}
							{% else %}
								{{anuncio.highlights.descripcion[0]|raw}}
							{% endif %}
						{%else%}
							{{anuncio.descripcion}}
						{%endif%}
					</div>
				</div>
				<div class="footer_anuncio">
					<div class="precio">
						<span class="no_mostrar">{%trans%}Precio{%endtrans%}: </span> <strong>{{anuncio.precio}} €</strong>
					</div>
					<div class="num_fotos">
						<strong>{{fotos.count()}}</strong> {%trans%}Fotos{%endtrans%}
					</div>
					
					<div class="social-likes social-likes_single" data-counters="no" data-url="{{ url('ec_buscador_anuncios', {'_locale': app.request.getLocale(), 'id_anuncio': anuncio.id}) }}" data-title="{{anuncio.titulo}}" data-single-title="{%trans%}Compartir{%endtrans%}">
						<div class="facebook" title="{%trans%}Compartir link en Facebook{%endtrans%}">Facebook</div>
						<div class="twitter" title="{%trans%}Compartir link en Twitter{%endtrans%}">Twitter</div>
						<div class="plusone" title="{%trans%}Compartir link en Google+{%endtrans%}">Google+</div>
					</div>

					<span class="btn_contactar boton_anuncio" onclick="showDialogContactar({{anuncio.id}})">{% trans %}Contactar{% endtrans %}</span>
					<span class="btn_denunciar boton_anuncio" onclick="showDialogDenunciar({{anuncio.id}})">{% trans %}Denunciar{% endtrans %}</span>
				</div>
		</div>
	{% endfor %}		
	
	{% if id_anuncio==null %}
		<div class="paginador">
   		{% if anuncios is empty%}
				<span>{%trans%}No se han encontrado anuncios que concuerden con la búsqueda realizada.{%endtrans%}</span>
			{% else %}
   			{{ knp_pagination_render(anuncios) }}
   		{%endif%}
   	</div>
   {% endif %}
   
   <div id="contacto" class="ventana">  
   	<div id="output_contacto"></div>
		<div id="form_contactar" class="anuncio buscador_color" style="display:none;">
			<form id="form_contacto" action="{{ path('ec_buscador_contactar') }}" method="post">
    			<div class="red">{{ form_errors(form_contacto) }}</div>
    		
				<div class="campo_login">
        			<div class="label_campo">{{ form_label(form_contacto.nombre) }}</div>
        			{{ form_widget(form_contacto.nombre) }}
        			<div class="error red">{{ form_errors(form_contacto.nombre) }}</div>
    			</div>       		
    		
				<div class="campo_login">
        			<div class="label_campo">{{ form_label(form_contacto.email) }}</div>
        			{{ form_widget(form_contacto.email) }}
        			<div class="error red">{{ form_errors(form_contacto.email) }}</div>
    			</div>    		
    		
    			<div class="campo_login">
        			<div class="label_campo">{{ form_label(form_contacto.mensaje) }} (<span id="contadorContacto">0/255</span> {% trans %}Caracteres{% endtrans %})</div>
        			{{ form_widget(form_contacto.mensaje) }}
        			<div class="error red">{{ form_errors(form_contacto.mensaje) }}</div>
    			</div>
    		
    			<div id="enviar_contacto" class="campo_login">
    				<input type="submit" value="{% trans %}Enviar{% endtrans %}"/>
    			</div>
    			
    			<div class="campo_login">
    				<div id="loading_contacto" class="loading"></div>
    			</div>
 
			</form>
		</div>
	</div>
	
	<div id="denuncia" class="ventana">  
   	<div id="output_denuncia"></div>
		<div id="form_denunciar" class="anuncio denunciar_color" style="display:none;">
			<form id="form_denuncia" action="{{ path('ec_buscador_denunciar') }}" method="post">
    			<div class="red">{{ form_errors(form_denuncia) }}</div>
    		
				<div class="campo_login">
        			<div class="label_campo">{{ form_label(form_denuncia.denuncia) }} (<span id="contadorDenuncia">0/255</span> {% trans %}Caracteres{% endtrans %})</div>
        			{{ form_widget(form_denuncia.denuncia) }}
        			<div class="error red">{{ form_errors(form_denuncia.denuncia) }}</div>
    			</div>       		
    		
    			<div id="enviar_denuncia" class="campo_login">
    				<input type="submit" value="{% trans %}Enviar{% endtrans %}"/>
    			</div>
    			
    			<div class="campo_login">
    				<div id="loading_denuncia" class="loading"></div>
    			</div>
 
			</form>
		</div>
	</div>
	
	<div id="skyline">
		<img src="{{ asset('images/skyline1.png') }}" alt="skyline" />
	</div>
		
{% endblock %}