{% extends 'ECPrincipalBundle::layout_email.txt.twig' %}

{% block subheader %}
	{{ parent() }}
	
	<section id="botones">
			<p class="azul cab negrita">Denuncia</p>
   </section>
{% endblock %}

{% block contenido %}
	{{ parent() }}
	
	<p class="azul negrita cursiva">Anuncio: r{{anuncio.id}}</p>
	<p class="azul">Comunidad: {{anuncio.comunidad.codigo}}</p>
	<p class="azul">Título: {{anuncio.titulo}}</p>
	<p class="azul">Denuncia: {{denuncia}}</p>
{% endblock %}						