{% extends 'ECPrincipalBundle::layout_email.txt.twig' %}

{% block subheader %}
	{{ parent() }}
	
	<section id="botones">
		<p class="verde cab negrita">{{anuncio.titulo}}</p>
   </section>
{% endblock %}

{% block contenido %}
	{{ parent() }}
	
	<p class="verde">{{nombre}} quiere ponerse en contacto con usted.</p>
	<p class="verde">Mensaje:  {{mensaje}}</p>
	<p class="verde">Email: {{email}}</p>
{% endblock %}