{% extends is_granted('ROLE_ADMINFINCAS') ? 'ECPrincipalBundle::layout_comunidad.html.twig' : 'ECPrincipalBundle::layout.html.twig' %}

{% block title %}
	{% trans %}Anuncios{% endtrans %} -
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    <link rel='stylesheet' type='text/css' href="{{ asset('css/botones.css') }}" />
    <link rel='stylesheet' type='text/css' href="{{ asset('css/anuncios.css') }}" />
    <link rel='stylesheet' type='text/css' href="{{ asset('css/jquery.fancybox.css') }}" media="screen"/>
    <link rel='stylesheet' type='text/css' href="{{ asset('css/social-likes.css') }}" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
	<script type='text/javascript' src="{{ asset('js/jquery.fancybox.js') }}" ></script>
	<script type='text/javascript' src="{{ asset('js/jquery.fancybox.pack.js') }}" ></script>
	<script type='text/javascript' src="{{ asset('js/social-likes.min.js') }}" ></script>
	<script type='text/javascript'>	
		$(document).ready(function() {
			/* Apply fancybox to multiple items */
			$("a.grouped_elements").fancybox({
				'transitionIn'	:	'elastic',
				'transitionOut'	:	'elastic',
				'speedIn'		:	600, 
				'speedOut'		:	200, 
				'overlayShow'	:	false,
			});
		});
	</script>
{% endblock %}

{% block colder %}
	{{ parent() }}
	
	{% for flashMessage in app.session.flashbag.get('notice') %}
			{% for flashColor in app.session.flashbag.get('color') %}
    			<div class="flash-notice mensaje {{flashColor}}">
        			{{ flashMessage }}
    			</div>
    		{% endfor %}
	{% endfor %}
	
	<h2 class="centrado">{% trans %}Mis Anuncios{% endtrans %}</h2>

	{% if is_granted('ROLE_ADMINFINCAS') %}
		<a class="boton_alta btn_nuevo" href="{{ path('ec_nuevo_anuncio', {'cif': comunidad.cif}) }}"><span>{% trans %}Nuevo Anuncio{% endtrans %}</span></a>
	{% else %}
		<a class="boton_alta btn_nuevo" href="{{ path('ec_nuevo_anuncio') }}"><span>{% trans %}Nuevo Anuncio{% endtrans %}</span></a>
	{% endif %}
	
	{% if mis_anuncios is empty%}
		<p>{%trans%}No tiene anuncios publicados.{%endtrans%}</p>
	{% else %}
		{% for mi_anuncio in mis_anuncios %}
			<div class="anuncio anuncio_color">
				<div class="titulo_anuncio">
					<span class="azul_fuerte">{{mi_anuncio.fecha | date("d/m/Y")}}</span> {{mi_anuncio.comunidad.city.name}} ({{mi_anuncio.comunidad.city.province.name}})
					<strong>{{mi_anuncio.categoria.nombre|trans}}</strong>: {{mi_anuncio.titulo}}
					<div class="referencia_anuncio">
						r{{mi_anuncio.id}}
					</div>
				</div>
				<div>
					<div class="foto_anuncio">
						{% set fotos = mi_anuncio.getImagenes() %}
						{% if fotos|length()!=0 %}
							{% set count=0 %}
							{% for foto in fotos%}
								{% if count==0 %}
									<a class="grouped_elements" data-fancybox-group="group{{mi_anuncio.id}}" href="{{ asset(foto.getWebPath()) }}" title="{%trans%}Imagen{%endtrans%}">
										<img src="{{ image(asset(foto.getWebPath())).cropResize(200,150) }}" alt="{%trans%}Imagen{%endtrans%}" />
									</a>
									{% set count=count+1%}
								{% else %}
									<a class="grouped_elements no_mostrar" data-fancybox-group="group{{mi_anuncio.id}}" href="{{ asset(foto.getWebPath()) }}" title="{%trans%}Imagen{%endtrans%}"></a>
								{% endif %}
							{% endfor %}
						{% else %}
							<img src="{{ asset('images/no_foto.jpg') }}" alt="No foto" />
						{% endif %}
					</div>
					<div class="descripcion_anuncio">
						{{mi_anuncio.descripcion}}
					</div>
				</div>
				<div class="footer_anuncio">
					<div class="precio">
						<span class="no_mostrar">{%trans%}Precio{%endtrans%}: </span> <strong>{{mi_anuncio.precio}} €</strong>
					</div>
					<div class="num_fotos">
						<strong>{{mi_anuncio.getImagenes().count()}}</strong> {% trans %}Fotos{% endtrans %}
					</div>
					
					<div class="social-likes social-likes_single" data-counters="no" data-url="{{ url('ec_buscador_anuncios', {'_locale': app.request.getLocale(), 'id_anuncio': mi_anuncio.id}) }}" data-title="{{mi_anuncio.titulo}}" data-single-title="{%trans%}Compartir{%endtrans%}">
						<div class="facebook" title="{%trans%}Compartir link en Facebook{%endtrans%}">Facebook</div>
						<div class="twitter" title="{%trans%}Compartir link en Twitter{%endtrans%}">Twitter</div>
						<div class="plusone" title="{%trans%}Compartir link en Google+{%endtrans%}">Google+</div>
					</div>
					
					<a class="boton_documento btn_preview" href="{{ path('ec_modificar_anuncio', { 'id': mi_anuncio.id }) }}">{% trans %}Editar{% endtrans %}</a>
					<a class="boton_documento btn_delete" href="{{ path('ec_eliminar_anuncio', { 'id': mi_anuncio.id }) }}" onclick="return confirm('{%trans%}¿Estás seguro de eliminar el anuncio{%endtrans%} {{mi_anuncio.titulo}}?')">{% trans %}Eliminar{% endtrans %}</a>
				</div>
			</div>
		{% endfor %}		
	{% endif %}
	
	{% if is_granted('ROLE_ADMINFINCAS') or is_granted('ROLE_PRESIDENTE') or is_granted('ROLE_VICEPRESIDENTE')%}
		<hr class="azul_oscuro" />

		<h2 class="centrado">{% trans %}Anuncios de la Comunidad{% endtrans %}</h2>

		{% if anuncios_comunidad is empty%}
			<p>{%trans%}La comunidad no tiene anuncios publicados.{%endtrans%}</p>
		{% else %}
			{% for anuncio_comunidad in anuncios_comunidad %}
				<div class="anuncio anuncio_color">
					<div class="titulo_anuncio">
						<span class="azul_fuerte">{{anuncio_comunidad.fecha | date("d/m/Y")}}</span> {{anuncio_comunidad.comunidad.city.name}} ({{anuncio_comunidad.comunidad.city.province.name}})
						<strong>{{anuncio_comunidad.categoria.nombre|trans}}</strong>: {{anuncio_comunidad.titulo}}
						<div class="referencia_anuncio">
							r{{anuncio_comunidad.id}}
						</div>
					</div>
					<div>
						<div class="foto_anuncio">
							{% set fotos = anuncio_comunidad.getImagenes() %}
							{% if fotos|length()!=0 %}
								{% set count=0 %}
								{% for foto in fotos%}
									{% if count==0 %}
										<a class="grouped_elements" data-fancybox-group="group{{anuncio_comunidad.id}}" href="{{ asset(foto.getWebPath()) }}" title="{%trans%}Imagen{%endtrans%}">
											<img src="{{ image(asset(foto.getWebPath())).cropResize(200,150) }}" alt="Imagen anuncio" />
										</a>
										{% set count=count+1%}
									{% else %}
										<a class="grouped_elements no_mostrar" data-fancybox-group="group{{anuncio_comunidad.id}}" href="{{ asset(foto.getWebPath()) }}" title="{%trans%}Imagen{%endtrans%}"></a>
									{% endif %}
								{% endfor %}
							{% else %}
								<img src="{{ asset('images/no_foto.jpg') }}" alt="No foto" />
							{% endif %}
						</div>
						<div class="descripcion_anuncio">
							{{anuncio_comunidad.descripcion}}
						</div>
					</div>
					<div class="footer_anuncio">
						<div class="precio">
							<span class="no_mostrar">{%trans%}Precio{%endtrans%}: </span> <strong>{{anuncio_comunidad.precio}} €</strong>
						</div>
						<div class="num_fotos">
							<strong>{{anuncio_comunidad.getImagenes().count()}}</strong> {% trans %}Fotos{% endtrans %}
						</div>
						
						<div class="social-likes social-likes_single" data-counters="no" data-url="{{ url('ec_buscador_anuncios', {'_locale': app.request.getLocale(), 'id_anuncio': anuncio_comunidad.id}) }}" data-title="{{anuncio_comunidad.titulo}}" data-single-title="{%trans%}Compartir{%endtrans%}">
							<div class="facebook" title="{%trans%}Compartir link en Facebook{%endtrans%}">Facebook</div>
							<div class="twitter" title="{%trans%}Compartir link en Twitter{%endtrans%}">Twitter</div>
							<div class="plusone" title="{%trans%}Compartir link en Google+{%endtrans%}">Google+</div>
						</div>
					
						{% if is_granted('ROLE_ADMINFINCAS') %}
							<a class="boton_documento btn_delete" href="{{ path('ec_eliminar_anuncio', { 'id': anuncio_comunidad.id }) }}" onclick="return confirm('{%trans%}¿Estás seguro de eliminar el anuncio{%endtrans%} {{anuncio_comunidad.titulo}}?')">{% trans %}Eliminar{% endtrans %}</a>
						{% endif %}
					</div>
				</div>
			{% endfor %}		
		{% endif %}
	{% endif %}
	
	{% if is_granted('ROLE_VECINO') %}
			<div id="administrador" class="no_mostrar">
				<div class="centrado">
					Administrador: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.nombre}} {{app.user.bloque.comunidad.administrador.apellidos}}</span>
					Teléfono: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.telefono}}</span>
					{% if app.user.bloque.comunidad.administrador.fax!=null%}
						Fax: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.fax}}</span>
					{% endif %}
				</div>
				<div class="centrado">
					Email: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.email}}</span>
					Dirección: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.direccion}}, {{app.user.bloque.comunidad.administrador.localidad}} ({{app.user.bloque.comunidad.administrador.provincia}})</span>
				</div>
			</div>
	{% endif %}	
		
{% endblock %}