{% extends is_granted('ROLE_ADMINFINCAS') ? 'ECPrincipalBundle::layout_comunidad.html.twig' : 'ECPrincipalBundle::layout.html.twig' %}

{% block title %}
	{% trans %}Editar Anuncio{% endtrans %} -
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
 {{ parent() }}
      <link rel='stylesheet' type='text/css' href="{{ asset('css/botones.css') }}" />

{% endblock %}

{% block javascripts %}
    {{ parent() }}

	<script type="text/javascript">
		$(document).ready( function(){
		
			var idtextarea="anuncio_descripcion";
			var idcontador="contador";
			var max="255";
			
			$("#"+idtextarea).keyup(function(){
				updateContadorTa(idtextarea, idcontador,max);
			});
			
			$("#"+idtextarea).keydown(function(){
				updateContadorTa(idtextarea, idcontador,max);
			});
 
			$("#"+idtextarea).change(function(){
				updateContadorTa(idtextarea, idcontador,max);
			});
			
			$("#"+idtextarea).ready(function(){
				updateContadorTa(idtextarea, idcontador,max);
			});
		});
 
		function updateContadorTa(idtextarea, idcontador,max){
			var contador = $("#"+idcontador);
			var ta =     $("#"+idtextarea);
			contador.html("0/"+max);
 
			contador.html(ta.val().length+"/"+max);
			if(parseInt(ta.val().length)>max){
				ta.val(ta.val().substring(0,max-1));
				contador.html(max+"/"+max);
			}
		};
	</script>
{% endblock %}

{% block colder %}
	{{ parent() }}

	{% for flashMessage in app.session.flashbag.get('notice') %}
			{% for flashColor in app.session.flashbag.get('color') %}
    			<div class="flash-notice mensaje {{flashColor}}">
        			{{ flashMessage }}
    			</div>
    		{% endfor %}
	{% endfor %}
	
		<section class="form form_incidencia">
			<h2 class="centrado">{% trans %}Editar Anuncio{% endtrans %}</h2>
			
			<form action="{{ path('ec_modificar_anuncio', { 'id': anuncio.id }) }}" method="post" {{ form_enctype(form) }}>	
    				<div class="red">{{ form_errors(form) }}</div>

					<div class="campo_login">
        				<div class="label_campo">{{ form_label(form.categoria) }}</div>
        				{{ form_widget(form.categoria) }}
       		 		<div class="error red">{{ form_errors(form.categoria) }}</div>        
    				</div> 
    				
    				<div class="campo_login">
       		 		<div class="label_campo">{{ form_label(form.titulo) }}</div>
        				{{ form_widget(form.titulo) }}
        				<div class="error red">{{ form_errors(form.titulo) }}</div>
    				</div> 
    				
    				<div class="campo_login">
       		 		<div class="label_campo">{{ form_label(form.precio) }}</div>
        				{{ form_widget(form.precio) }}
        				<div class="error red">{{ form_errors(form.precio) }}</div>
    				</div>
    				
    				<div class="campo_login">
       		 		<div class="label_campo">{{ form_label(form.descripcion) }}  (<span id="contador">0/255</span> {% trans %}Caracteres{% endtrans %})</div>
        				{{ form_widget(form.descripcion) }}
        				<div class="error red">{{ form_errors(form.descripcion) }}</div>
    				</div> 	
   				   
    				<div class="campo_login">
    					<input type="submit" value="{% trans %}Actualizar{% endtrans %}"/>
    				</div>
			</form>
    		<div class="campo_login">
				<a href="{{ path('ec_modificar_anuncio_imagenes', { 'id': anuncio.id }) }}" class="boton_alta btn_nuevo">{% trans %}Editar Imágenes{% endtrans %}</a>
			</div>

		</section>
		
		{% if is_granted('ROLE_VECINO') %}
			<div id="administrador" class="no_mostrar">
				<div class="centrado">
					Administrador: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.nombre}} {{app.user.bloque.comunidad.administrador.apellidos}}</span>
					Teléfono: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.telefono}}</span>
					{% if app.user.bloque.comunidad.administrador.fax!=null%}
						Fax: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.fax}}</span>
					{% endif %}
				</div>
				<div class="centrado">
					Email: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.email}}</span>
					Dirección: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.direccion}}, {{app.user.bloque.comunidad.administrador.localidad}} ({{app.user.bloque.comunidad.administrador.provincia}})</span>
				</div>
			</div>
		{% endif %}	
{% endblock %}