{% extends is_granted('ROLE_ADMINFINCAS') ? 'ECPrincipalBundle::layout_comunidad.html.twig' : 'ECPrincipalBundle::layout.html.twig' %}

{% block title %}
	{% trans %}Editar Imágenes{% endtrans %} -
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
 {{ parent() }}
      <link rel='stylesheet' type='text/css' href="{{ asset('css/botones.css') }}" />
    	<link rel='stylesheet' type='text/css' href="{{ asset('css/anuncios.css') }}" />

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
	<script type='text/javascript' src="{{ asset('js/jquery-ui.js') }}" ></script>
	<script>
		$(function() {
	 		$("#ordenable").sortable({
				update: function(event, ui) {
        			JSONArray = new Array;
        			$("#ordenable li").each(
		      		function(index){
		    	  			JSONArray[index] = $(this).attr('id');
			   		}
		   		);
        			JSONstring = JSON.stringify(JSONArray);
        			$.ajax({
            	   type: "GET",
            	   url: "{{ path('ec_modificar_anuncio_orden_imagenes_ajax') }}",
            	   data: "json=" + JSONstring + "&anuncio=" + {{anuncio.id}}
            	});
            }
         });
		});
	</script>
{% endblock %}

{% block colder %}
	{{ parent() }}

	{% for flashMessage in app.session.flashbag.get('notice') %}
			{% for flashColor in app.session.flashbag.get('color') %}
    			<div class="flash-notice mensaje {{flashColor}}">
        			{{ flashMessage }}
    			</div>
    		{% endfor %}
	{% endfor %}
		
		<section class="form form_incidencia">
			<h2 class="centrado">{% trans %}Editar Imágenes{% endtrans %}</h2>
			
			<fieldset>
			<legend class="azul_oscuro">{% trans %}Arrastre para ordenar{% endtrans %}</legend>
			<ol id="ordenable">
				{% for imagen in imagenes %}
				<li id="{{imagen.id}}">
					<img src="{{ image(asset(imagen.getWebPath())).cropResize(200,150) }}" alt="Imagen anuncio" />
					<a href="{{ path('ec_eliminar_imagen_anuncio', {'id_imagen': imagen.id, 'id': anuncio.id}) }}" onclick="return confirm('¿Estás seguro de eliminar la imagen?')" ><img src="{{ asset('images/action-cancel-icon.png') }}" alt="delete" /></a>
				</li>
				{% endfor %}
			</ol>
			</fieldset>
			
			{% if imagenes|length()<=5 %}
				<form action="{{ path('ec_modificar_anuncio_imagenes', { 'id': anuncio.id }) }}" method="post" {{ form_enctype(form) }}>	
    				<div class="red">{{ form_errors(form) }}</div>
    				
    				<div class="campo_login">
        				<div class="label_campo">{{ form_label(form.file) }}</div>
        				{{ form_widget(form.file) }}
       		 		<div class="error red">{{ form_errors(form.file) }}</div>        
    				</div> 
   				   
    				<div class="campo_login">
    					<input type="submit" value="{% trans %}Añadir{% endtrans %}"/>
    				</div>
				</form>
			{% endif %}
			
			<div class="campo_login">
				<a href="{{ path('ec_modificar_anuncio', { 'id': anuncio.id }) }}" class="boton_alta btn_return">{% trans %}Volver{% endtrans %}</a>
				{% if is_granted('ROLE_ADMINFINCAS') %}
					<a href="{{ path('ec_listado_mis_anuncios', { 'cif': comunidad.cif }) }}" class="boton_alta btn_mis_anuncios">{% trans %}Mis Anuncios{% endtrans %}</a>
				{% else %}
					<a href="{{ path('ec_listado_mis_anuncios') }}" class="boton_alta btn_mis_anuncios">{% trans %}Mis Anuncios{% endtrans %}</a>
				{% endif %}
			</div>

		</section>
		
		{% if is_granted('ROLE_VECINO') %}
			<div id="administrador" class="no_mostrar">
				<div class="centrado">
					Administrador: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.nombre}} {{app.user.bloque.comunidad.administrador.apellidos}}</span>
					Teléfono: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.telefono}}</span>
					{% if app.user.bloque.comunidad.administrador.fax!=null%}
						Fax: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.fax}}</span>
					{% endif %}
				</div>
				<div class="centrado">
					Email: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.email}}</span>
					Dirección: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.direccion}}, {{app.user.bloque.comunidad.administrador.localidad}} ({{app.user.bloque.comunidad.administrador.provincia}})</span>
				</div>
			</div>
		{% endif %}	
{% endblock %}