{% extends is_granted('ROLE_ADMINFINCAS') ? 'ECPrincipalBundle::layout_comunidad.html.twig' : 'ECPrincipalBundle::layout.html.twig' %}

{% block title %}
	{% trans %}Nuevo Anuncio{% endtrans %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
 {{ parent() }}
      <link rel='stylesheet' type='text/css' href="{{ asset('css/botones.css') }}" />

{% endblock %}

{% block javascripts %}
    {{ parent() }}

	<script type="text/javascript">
		$(document).ready( function(){
		
			var idtextarea="anuncio_descripcion";
			var idcontador="contador";
			var max="255";
			
			$("#"+idtextarea).keyup(function(){
				updateContadorTa(idtextarea, idcontador,max);
			});
			
			$("#"+idtextarea).keydown(function(){
				updateContadorTa(idtextarea, idcontador,max);
			});
 
			$("#"+idtextarea).change(function(){
				updateContadorTa(idtextarea, idcontador,max);
			});
		});
 
		function updateContadorTa(idtextarea, idcontador,max){
			var contador = $("#"+idcontador);
			var ta =     $("#"+idtextarea);
			contador.html("0/"+max);
 
			contador.html(ta.val().length+"/"+max);
			if(parseInt(ta.val().length)>max){
				ta.val(ta.val().substring(0,max-1));
				contador.html(max+"/"+max);
			}
		};
	</script>
	<script>
		var $collectionHolder;

		// setup an "add a tag" link
		var $addImagenLink = $('<a id="add" href="#" class="add_imagen_link campo_login boton_alta btn_nuevo">Añadir Imagen</a>');
		var $newLinkLi = $('<div></div>').append($addImagenLink);

		jQuery(document).ready(function() {
    			// Get the ul that holds the collection of tags
    			$collectionHolder = $('#subida_imagenes');

    			// add the "add a tag" anchor and li to the tags ul
    			$collectionHolder.append($newLinkLi);

    			// count the current form inputs we have (e.g. 2), use that as the new
    			// index when inserting a new item (e.g. 2)
    			$collectionHolder.data('index', $collectionHolder.find(':input').length);
    			$contador=0;
						
    			$addImagenLink.on('click', function(e) {
    					if($contador<5){
        					// prevent the link from creating a "#" on the URL
        					e.preventDefault();

        					// add a new tag form (see next code block)
        					addImagenForm($collectionHolder, $newLinkLi);
        					$contador=$contador+1;
        					if($contador>=5){
        						document.getElementById('add').style.display = 'none';
        					}
        				}
    			});
		});
		
		function addImagenForm($collectionHolder, $newLinkLi) {
    			// Get the data-prototype explained earlier
   		 	var prototype = $collectionHolder.data('prototype');

    			// get the new index
    			var index = $collectionHolder.data('index');

    			// Replace '__name__' in the prototype's HTML to
    			// instead be a number based on how many items we have
    			var newForm = prototype.replace(/__name__/g, index);

    			// increase the index with one for the next item
    			$collectionHolder.data('index', index + 1);

    			// Display the form in the page in an li, before the "Add a tag" link li
    			var $newFormLi = $('<div class="campo_login"></div>').append(newForm);
    			$newLinkLi.before($newFormLi);
		}
	</script>
{% endblock %}

{% block colder %}
	{{ parent() }}

	{% for flashMessage in app.session.flashbag.get('notice') %}
			{% for flashColor in app.session.flashbag.get('color') %}
    			<div class="flash-notice mensaje" style="color:{{flashColor}}; border-color:{{flashColor}};">
        		{{ flashMessage }}
    			</div>
    		{% endfor %}
	{% endfor %}
	
		<section class="form">
			<hgroup>
				<h2 class="verde centrado">{% trans %}Nuevo Anuncio{% endtrans %}</h2>
			</hgroup>
			
			{% if is_granted('ROLE_ADMINFINCAS') %}
         	<form action="{{ path('ec_nuevo_anuncio', { 'cif': comunidad.cif }) }}" method="post" {{ form_enctype(form) }}>
			{% else %}
			   <form action="{{ path('ec_nuevo_anuncio') }}" method="post" {{ form_enctype(form) }}>	
    		{% endif %}
    				<div style="color:red;">{{ form_errors(form) }}</div>

					<div class="campo_login">
        				<div class="label_campo">{{ form_label(form.categoria) }}</div>
        				{{ form_widget(form.categoria) }}
       		 		<div class="error">{{ form_errors(form.categoria) }}</div>        
    				</div> 
    				
    				<div class="campo_login">
       		 		<div class="label_campo">{{ form_label(form.titulo) }}</div>
        				{{ form_widget(form.titulo) }}
        				<div class="error">{{ form_errors(form.titulo) }}</div>
    				</div> 
    				
    				<div class="campo_login">
       		 		<div class="label_campo">{{ form_label(form.precio) }}</div>
        				{{ form_widget(form.precio) }}
        				<div class="error">{{ form_errors(form.precio) }}</div>
    				</div>
    				
    				<div class="campo_login">
       		 		<div class="label_campo">{{ form_label(form.descripcion) }}  (<span id="contador">0/255</span> {% trans %}Caracteres{% endtrans %})</div>
        				{{ form_widget(form.descripcion) }}
        				<div class="error">{{ form_errors(form.descripcion) }}</div>
    				</div> 
    				
    				<div id="subida_imagenes" data-prototype="{% filter escape %}{{ include('ECPrincipalBundle:Anuncio:prototype.html.twig', { 'form': form.imagenes.vars.prototype }) }}{% endfilter %}">
    				   
    				</div>	
   				   
    				<div class="campo_login">
    					<input type="submit" value="{% trans %}Enviar{% endtrans %}"/>
    					<input type="reset" value="{% trans %}Borrar{% endtrans %}"/>
    				</div>
			</form>

		</section>
{% endblock %}