{% extends 'ECPrincipalBundle::layout_comunidad.html.twig' %}

{% block title %}
	{% trans %}Alta de bloque{% endtrans %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

<script type='text/javascript'>
$(document).ready(function()
{
  $('#enviar').click(function()
  {
  		$('#enviar').hide();
      $('#loading').show();
  });
});
</script>

{% endblock %}

{% block colder %}
	{{ parent() }}

	{% for flashMessage in app.session.flashbag.get('notice') %}
			{% for flashColor in app.session.flashbag.get('color') %}
    			<div class="flash-notice mensaje" style="color:{{flashColor}}; border-color:{{flashColor}};">
        		{{ flashMessage }}
    			</div>
    		{% endfor %}
	{% endfor %}
	
		<section class="form">
			<h2 class="verde centrado">{% trans %}Alta de bloque{% endtrans %}</h2>
            <form action="{{ path('ec_adminfincas_comunidad_alta_bloque', { 'cif': comunidad.cif }) }}" method="post">
    				<div style="color:red;">{{ form_errors(form) }}</div>

    				<div class="campo_login">
       		 		<div class="label_campo">{{ form_label(form.num) }} *</div>
        				{{ form_widget(form.num) }}
        				<div class="error">{{ form_errors(form.num) }}</div>
    				</div>
    		
    				<div class="campo_login">
        				<div class="label_campo">{{ form_label(form.direccion) }} *</div>
        				{{ form_widget(form.direccion) }}
       		 		<div class="error">{{ form_errors(form.direccion) }}</div>        
    				</div>    

    				<div class="campo_login">
    					(*) {% trans %}Campo obligatorio{% endtrans %}
    					<input type="submit" value="{% trans %}Enviar{% endtrans %}"/>
    					<input type="reset" value="{% trans %}Borrar{% endtrans %}"/>
    				</div>
            </form>
		</section>
		
		<!--CSV-->
		<section class="form">
			<h2 class="verde centrado">{% trans %}Importar bloques mediante CSV{% endtrans %}</h2>
            <form action="{{ path('ec_adminfincas_comunidad_alta_bloque', { 'cif': comunidad.cif }) }}" method="post" {{ form_enctype(form_csv) }}>
    				<div style="color:red;">{{ form_errors(form_csv) }}</div>

    				<div class="campo_login">
       		 		<div class="label_campo">{{ form_label(form_csv.file) }}</div>
        				{{ form_widget(form_csv.file) }}
        				<div class="error">{{ form_errors(form_csv.file) }}</div>
    				</div>   

    				<div class="campo_login">
    					<input type="submit" value="{% trans %}Enviar{% endtrans %}" id="enviar" />
    					<input type="reset" value="{% trans %}Borrar{% endtrans %}"/>
    					<img id="loading" src="{{ asset('images/loading.gif') }}" alt="loading"/>
    				</div>
            </form>
		</section>
{% endblock %}