{% extends 'ECPrincipalBundle::layout_comunidad.html.twig' %}

{% block title %}
	{{ parent() }}
	{% trans %}Bloques{% endtrans %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/table.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/boton_acciones.css') }}" type="text/css" rel="stylesheet" />
    <link rel='stylesheet' type='text/css' href="{{ asset('css/botones.css') }}" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type='text/javascript' src="{{ asset('js/jquery.dataTables.js') }}"></script>  
	<script type="text/javascript">
			$(document).ready(function() {
				$('#example').dataTable();
			} );
	</script>
{% endblock %}

{% block colder %}
{{parent()}}
	{% for flashMessage in app.session.flashbag.get('notice') %}
			{% for flashColor in app.session.flashbag.get('color') %}
    			<div class="flash-notice mensaje" style="color:{{flashColor}}; border-color:{{flashColor}};">
        		{{ flashMessage }}
    			</div>
    		{% endfor %}
	{% endfor %}

	<hgroup>	
		<h2 class="verde centrado">{% trans %}Bloques{% endtrans %}</h2>
	</hgroup>
	
	<a href="{{ path('ec_adminfincas_comunidad_listado_bloques_pdf', { 'cif': comunidad.cif }) }}"><img src="{{ asset('images/pdf-icon.png') }}" alt="pdf"></a>
	<a href="{{ path('ec_adminfincas_comunidad_listado_bloques_csv', { 'cif': comunidad.cif }) }}"><img src="{{ asset('images/csv-icon.png') }}" alt="csv"></a>
	<a class="boton_alta btn_nuevo" href="{{ path('ec_adminfincas_comunidad_alta_bloque', { 'cif': comunidad.cif }) }}">{% trans %}Nuevo bloque{% endtrans %}</a>
	
	<div id="demo">
		<table class="display" id="example">
			<thead>
				<tr>
					<th>{% trans %}Nº Bloque{% endtrans %}</th>
					<th>{% trans %}Dirección{% endtrans %}</th>
					<th>{% trans %}Acciones{% endtrans %}</th>
				</tr>
			</thead>
			<tbody>
			{% for bloque in bloques %}
				<tr class="gradeX">
       			<td>{{bloque.num}}</td>
       			<td>{{bloque.direccion}}</td>
       			<td><a href="{{ path('ec_adminfincas_comunidad_eliminar_bloque', { 'cif': comunidad.cif, 'num': bloque.num}) }}" onclick="return confirm('¿Estás seguro de eliminar el bloque {{bloque.direccion}}?')"><img src="{{ asset('images/action-cancel-icon.png') }}" alt="delete"></a></td>
      		</tr> 
			{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<th>{% trans %}Nº Bloque{% endtrans %}</th>
					<th>{% trans %}Dirección{% endtrans %}</th>
					<th>{% trans %}Acciones{% endtrans %}</th>
				</tr>
			</tfoot>
		</table>
	</div>
	
{% endblock %}