{% extends 'ECPropietarioBundle::layout.html.twig' %}

{% block title %}
	{% trans %}Cambiar contraseña{% endtrans %}
	{{ parent() }}
{% endblock %}

{% block sidebar %}
	{{ parent() }}
	
{% endblock %}

{% block colder %}
	{{ parent() }}
	{% for flashMessage in app.session.flashbag.get('notice') %}
			{% for flashColor in app.session.flashbag.get('color') %}
    			<div class="flash-notice mensaje" style="color:{{flashColor}}; border-color:{{flashColor}};">
        		{{ flashMessage }}
    			</div>
    		{% endfor %}
	{% endfor %}

	<section id="form_login">
		<h2 class="verde centrado">{% trans %}Cambiar contraseña{% endtrans %}</h2>
		{{ form_start(form) }}
    		<div style="color:red;">{{ form_errors(form) }}</div>
 
    		<div class="campo_login">
        		<div class="label_campo">{{ form_label(form.pass) }}</div>
        		{{ form_widget(form.pass) }}
        		<div class="error">{{ form_errors(form.pass) }}</div>
    		</div>
 
    		<div class="campo_login">
        		<div class="label_campo">{{ form_label(form.password.first) }}</div>
        		{{ form_widget(form.password.first) }}
       		 <div class="error">{{ form_errors(form.password.first) }}</div>        
    		</div>    		
    		
    		<div class="campo_login">
        		<div class="label_campo">{{ form_label(form.password.second) }}</div>
        		{{ form_widget(form.password.second) }}
       		 <div class="error">{{ form_errors(form.password.second) }}</div>        
    		</div>  

    		<div class="campo_login">
    		<input type="submit" value="Actualizar"/>
    		<input type="reset" value="Borrar"/>
    		</div>
 
		{{ form_end(form) }}
	</section>
{% endblock %}