{% extends 'ECPrincipalBundle::layout_comunidad.html.twig' %}

{% block title %}
	{% trans %}Nuevo Servicio{% endtrans %} -
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    <link rel='stylesheet' type='text/css' href="{{ asset('css/botones.css') }}" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script>
        $(function(){
            $("#servicio_country").change(function(){
                var data = {
                    country_id: $(this).val()
                };

                $.ajax({
                    type: 'post',
                    url: '{{ path("select_provinces") }}',
                    data: data,
                    success: function(data) {
                        $('#servicio_province').html(data);
                        $('#servicio_city').html("<option>Ciudad</option>");
                    }
                });
            });

            $("#servicio_province").change(function(){
                var data = {
                    province_id: $(this).val()
                };

                $.ajax({
                    type: 'post',
                    url: '{{ path("select_cities") }}',
                    data: data,
                    success: function(data) {
                        $('#servicio_city').html(data);
                    }
                });
            });
        });
    $(document).ready(function() {   
        $("#servicio_cif").change(function(){
               $('#output_servicio').children('a').removeClass("btn_nuevo").removeClass("boton_alta");
               $('#output_servicio').empty();
   				$('#loading').show();
        			var url = '{{ path("ec_adminfincas_comprobar_servicio") }}';
       			$.ajax({
       				url: url,
       				data: {
           				cif_servicio: $("#servicio_cif").val(),
           				id_comunidad: {{comunidad.id}},
       				},
       				type: "POST",
       				cache: false,
       				success:function(data){
            			if(data.responseCode==200 ){  
            				$('#loading').hide();
                			$('#output_servicio').show();
                			
                			var a = document.createElement('a');
								var linkText = document.createTextNode(data.nombre);
								a.appendChild(linkText);
								a.title = data.nombre;
								a.href = data.url;
								$('#output_servicio').append(a);
								$('#output_servicio').children('a').addClass("btn_nuevo").addClass("boton_alta");
            			}else if(data.responseCode==400){//bad request
            				$('#loading').hide();
           				}else{           					
              				alert("An unexpeded error occured.");
              				$('#loading').hide();
           				}
       				}
       			});
      			return false;
  		 	});
  		});
    </script>
{% endblock %}

{% block colder %}
{{parent()}}

	<section class="form">
		<h2 class="centrado">{% trans %}Nuevo Servicio{% endtrans %}</h2>
		
		{% for flashMessage in app.session.flashbag.get('notice') %}
			{% for flashColor in app.session.flashbag.get('color') %}
    			<div class="flash-notice mensaje {{flashColor}}">
        			{{ flashMessage }}
    			</div>
    		{% endfor %}
		{% endfor %}

      <form action="{{ path('ec_adminfincas_nuevo_servicio', { 'id_comunidad': comunidad.id }) }}" method="post">
    		<div class="red">{{ form_errors(form) }}</div>
    		
    		<div class="campo">
        		<div class="label_campo">{{ form_label(form.categoria) }} *</div>
       		 {{ form_widget(form.categoria) }}
        		<div class="error red">{{ form_errors(form.categoria) }}</div>
    		</div>
	
    		<div class="campo">
       		 <div class="label_campo">{{ form_label(form.cif) }} *</div>
        		{{ form_widget(form.cif) }}
        		<div class="error red">{{ form_errors(form.cif) }}</div>
    		</div>   
    		
    		<div id="output_servicio" class="campo"></div>
    		<div id="loading" class="loading campo"></div>    		
    		
    		<div class="clear"></div>					  
    		
    		<div class="campo">
        		<div class="label_campo">{{ form_label(form.nombre) }} *</div>
       		 {{ form_widget(form.nombre) }}
        		<div class="error red">{{ form_errors(form.nombre) }}</div>
    		</div>
    
    		<div class="campo">
        		<div class="label_campo">{{ form_label(form.telefono) }} *</div>
        		{{ form_widget(form.telefono) }}
        		<div class="error red">{{ form_errors(form.telefono) }}</div>       
    		</div>
    		
   		 <div class="campo">
        		<div class="label_campo">{{ form_label(form.direccion) }} *</div>
        		{{ form_widget(form.direccion) }}
        		<div class="error red">{{ form_errors(form.direccion) }}</div>        
    		</div>
    		
    		<div class="campo">
        		<div class="label_campo">{{ form_label(form.country) }} *</div>
        		{{ form_widget(form.country) }}
       		 <div class="error red">{{ form_errors(form.country) }}</div>        
    		</div>    		
    		
			<div class="campo">
        		<div class="label_campo">{{ form_label(form.province) }} *</div>
        		{{ form_widget(form.province) }}
       		 <div class="error red">{{ form_errors(form.province) }}</div>        
    		</div>    		
    		
			<div class="campo">
        		<div class="label_campo">{{ form_label(form.city) }} *</div>
        		{{ form_widget(form.city) }}
       		 <div class="error red">{{ form_errors(form.city) }}</div>        
    		</div> 	
    		
			<div class="campo">
				(*) {% trans %}Campo obligatorio{% endtrans %}			
			</div>
			
			<div class="clear"></div>			
			
    		<div class="campo">
    			<input type="submit" value="{% trans %}Enviar{% endtrans %}"/>
    		</div>
 
		</form>
	</section>
	
{% endblock %}