{% extends 'ECPrincipalBundle::layout.html.twig' %}

{% block title %}
	{% trans %}Formulario de Contacto{% endtrans %}
	{{ parent() }}
{% endblock %}

{% block sidebar %}
	{{ parent() }}
	
{% endblock %}

{% block colder %}
	{{ parent() }}
	<section id="form_login">
		<hgroup>
			<h2 class="verde centrado">{% trans %}Formulario de Contacto{% endtrans %}</h2>
		</hgroup>
		
		{{ form_start(form) }}
    		<div style="color:red;">{{ form_errors(form) }}</div>
 
    		<div class="campo_login">
        		<div class="label_campo">{{ form_label(form.Nombre) }}</div>
        		{{ form_widget(form.Nombre) }}
        		<div class="error">{{ form_errors(form.Nombre) }}</div>
    		</div>
 
    		<div class="campo_login">
        		<div class="label_campo">{{ form_label(form.Email) }}</div>
        		{{ form_widget(form.Email) }}
        		<div class="error">{{ form_errors(form.Email) }}</div>
    		</div>
    
    		<div class="campo_login">
        		<div class="label_campo">{{ form_label(form.Mensaje) }}</div>
        		<p>{{ form_widget(form.Mensaje) }}</p>
        		<div class="error">{{ form_errors(form.Mensaje) }}</div>
    		</div>

    		<div class="campo_login">
    		<input type="submit" value="{% trans %}Enviar{% endtrans %}"/>
    		<input type="reset" value="{% trans %}Borrar{% endtrans %}"/>
    		</div>
 
		{{ form_end(form) }}
	</section>
{% endblock %}
