{% extends 'ECPrincipalBundle::layout_email.txt.twig' %}

{% block subheader %}
	{{ parent() }}
	
	<section id="botones">
		<p class="verde cab negrita">Contacto</p>
   </section>
{% endblock %}

{% block contenido %}
	{{ parent() }}
	
	<p class="verde">Nombre: {{nombre}}</p>
	<p class="verde">Email:  {{email}}</p>
	<p class="verde">Mensaje: {{mensaje}}</p>
{% endblock %}