{% extends 'ECPrincipalBundle::layout_email.txt.twig' %}

{% block subheader %}
	{{ parent() }}
	
	<section id="botones">
		<p class="verde cab negrita">{{nombre}}</p>
   </section>
{% endblock %}

{% block contenido %}
	{{ parent() }}
	
	<p class="verde">Su contraseña ha sido cambiada. Sus nuevos datos de acceso se muestran a continuación.</p>
	<p class="verde negrita cursiva">Usuario:  {{usuario}}</p>
	<p class="verde negrita cursiva">Password: {{pass}}</p>
	<p class="verde">Puede acceder a su área privada <a href="{{ url("login")}}">aqui</a>.</p>
{% endblock %}