{% extends 'ECPrincipalBundle::layout.html.twig' %}

{% block title %}
	{% trans %}Iniciar Sesión{% endtrans %}
	{{ parent() }}
{% endblock %}

{% block colder %}
	{{ parent() }}
		<section id="form_login">
			<h2 class="verde centrado">{% trans %}Iniciar Sesión{% endtrans %}</h2>
			
			{% if error %}
				<div class="mensaje rojo">{% trans %}Datos incorrectos{% endtrans %}</div>
			{% endif %}

			<form method="post" action="{{ path('login_check') }}">
				<div class="campo_login">
					<div class="label_campo_login"><label for="username">{% trans %}Usuario{% endtrans %}</label></div>
					<input type="text" name="_username" id="username" value="{{ last_username }}"/>
				</div>
				<div class="campo_login">
					<div class="label_campo_login"><label for="password">{% trans %}Contraseña{% endtrans %}</label></div>
					<input type="password" name="_password" id="password" maxlength="9"/>
				</div>
				<div class="campo_login">
					<input type="checkbox" id="remember_me" name="_remember_me" />
    				<div class="label_campo_login"><label for="remember_me">{%trans%}No cerrar sesión{%endtrans%}</label></div>
    			</div>
				<div class="campo_login"><input type="submit" value="{% trans %}Acceder{% endtrans %}"></div>
			</form>
			
			<div class="campo_login">
				<a class="link" href="{{ path('ec_principal_olvido_password')}}"><span>{% trans %}¿Has olvidado tu contraseña?{% endtrans %}</span></a>
			</div>
		</section>
		
		<div id="skyline">
			<img src="{{ asset('images/skyline4.png') }}" alt="skyline" />
		</div>
{% endblock %}
