{% extends is_granted('ROLE_ADMINFINCAS') ? 'ECPrincipalBundle::layout_comunidad.html.twig' : 'ECPrincipalBundle::layout.html.twig' %}

{% block title %}
	{% trans %}Calendario de reuniones{% endtrans %} -
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
   {{ parent() }}
   
   <link rel="stylesheet" href="{{ asset('css/jquery-ui-dialog.css') }}" />
	<link rel='stylesheet' type='text/css' href="{{ asset('css/fullcalendar.css') }}" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
	<script type='text/javascript' src="{{ asset('js/jquery-ui.min.js') }}"></script>
	
   <script type='text/javascript' src="{{ asset('js/moment.min.js') }}"></script>
	<script type='text/javascript' src="{{ asset('js/fullcalendar.min.js') }}"></script>
	<script type='text/javascript' src="{{ asset('js/lang-all.js') }}"></script>
	
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

	<script>
		$(document).ready(function() {
			var date = new Date();
         var d = date.getDate();
         var m = date.getMonth();
         var y = date.getFullYear();
            
        $('#calendar').fullCalendar({
        			 lang: '{{app.getRequest().getLocale()}}',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                minTime: '09:00:00',
                
                events: [
                	{% for reunion in reuniones %}
                	{
                	  id: {{ reunion.id }},
                    title: '{{ reunion.descripcion }}',
                    {% if is_granted('ROLE_ADMINFINCAS') %}
                    		comunidad: '{{reunion.comunidad.codigo}}',
                    		id_comunidad: '{{reunion.comunidad.id}}',
                    {% endif %}
                    start: '{{ reunion.fecha_toString() }}',
                    selectable: true,
                    {% if (reunion.comunidad.id!=comunidad.id) %}
                    		backgroundColor: '#EDD6A9',
                    		color: '#E6E6E6',
                    		textColor: '#2C4853',                    		
                    {% endif %}
                	},
                	{% endfor %}
            	],
            	
            	eventClick: function(event) {    
            		{% if is_granted('ROLE_ADMINFINCAS') %}  					
    						window.location=Routing.generate('ec_ver_reunion_comunidad', { id: event.id, id_comunidad: event.id_comunidad });
    					{% else %}
    					   window.location=Routing.generate('ec_ver_reunion_comunidad', { id: event.id });
    					{% endif %}
    				},		
    				
            	{% if is_granted('ROLE_ADMINFINCAS') %}
    					dayClick: function(date) {
    							var d = new Date();
    							document.getElementById('form_fecha').value=date.format('DD-MM-YYYY');
    							document.getElementById('form_hora_hour').value=date.format('H');
    							document.getElementById('form_hora_minute').value=date.format('m');
        						if(date>d){
        							$("#nueva_reunion").dialog({ <!--  ------> muestra la ventana  -->
            						width: "auto",  <!-- -------------> ancho de la ventana -->
            						height: "auto",<!--  -------------> altura de la ventana -->
            						show: "scale", <!-- -----------> animación de la ventana al aparecer -->
            						hide: "scale", <!-- -----------> animación al cerrar la ventana -->
            						resizable: "false", <!-- ------> fija o redimensionable si ponemos este valor a "true" -->
            						position: "center",<!--  ------> posicion de la ventana en la pantalla (left, top, right...) -->
            						modal: "true", <!-- ------------> si esta en true bloquea el contenido de la web mientras la ventana esta activa (muy elegante) -->
        								title: "{%trans%}Comunidad{%endtrans%} {{comunidad.codigo}}"
        							});

        						}else{
        						    alert('{%trans%}No es posible añadir una reunión con fecha anterior a la actual.{%endtrans%}');
        						}
    					},
    					
    					eventMouseover: function(calEvent, jsEvent) {
    						var tooltip = '<div class="tooltipevent info"><div class="verde negrita">{%trans%}Comunidad{%endtrans%}: ' + calEvent.comunidad + '</div><div>'+ calEvent.title +'</div></div>';
    						$("body").append(tooltip);
    						$(this).mouseover(function(e) {
        						$(this).css('z-index', 10000);
        						$('.tooltipevent').fadeIn('500');
        						$('.tooltipevent').fadeTo('10', 1.9);
    						}).mousemove(function(e) {
        						$('.tooltipevent').css('top', e.pageY + 10);
        						$('.tooltipevent').css('left', e.pageX + 10);
    						});
						},

						eventMouseout: function(calEvent, jsEvent) {
    						$(this).css('z-index', 8);
    						$('.tooltipevent').remove();
						},
    				{% endif %}
        });
    });
	</script>
{% endblock %}

{% block colder %}
	{{ parent() }}
	{% for flashMessage in app.session.flashbag.get('notice') %}
			{% for flashColor in app.session.flashbag.get('color') %}
    			<div class="flash-notice mensaje {{flashColor}}">
        			{{ flashMessage }}
    			</div>
    		{% endfor %}
	{% endfor %}
	
	<h2 class="centrado">{% trans %}Calendario de reuniones{% endtrans %}</h2>
	
	{% if is_granted('ROLE_ADMINFINCAS') %}
		<span id="leyenda_reuniones">
			<span class="color_vicepresidente derecha">{%trans%}Otra Comunidad{%endtrans%}</span>
  			<span class="color_presidente derecha">{%trans%}Comunidad{%endtrans%} {{comunidad.codigo}}</span>
		</span>
		<br/>
	{% endif %}
	
	<div id='calendar'></div>
	
	{% if is_granted('ROLE_ADMINFINCAS') %}
		<div id="nueva_reunion" class="ventana">  
			<section class="form">
				<h2 class="centrado">{% trans %}Nueva Reunión{% endtrans %}</h2>
				
            <form action="{{ path('ec_reuniones_comunidad', { 'id_comunidad': comunidad.id }) }}" method="post" {{ form_enctype(form) }}>
    				<div class="red">{{ form_errors(form) }}</div>
    				
    				<div class="campo_login">
       		 		<div class="label_campo_login">{{ form_label(form.fecha) }}</div>
        				{{ form_widget(form.fecha) }}
        				<div class="error red">{{ form_errors(form.fecha) }}</div>
    				</div>
    				
    				<div class="campo_login">
       		 		<div class="label_campo_login"><label class="required" for="form_hora_hour">{%trans%}Hora{%endtrans%}</label></div>
        				{{ form_widget(form.hora.hour) }}
        					
						<label class="required" for="form_hora_minute">:</label>
        				{{ form_widget(form.hora.minute) }}
        					
        				<div class="error red">{{ form_errors(form.hora) }}</div>
    				</div>
    				
    				<div class="campo_login">
       		 		<div class="label_campo_login">{{ form_label(form.descripcion) }}</div>
        				{{ form_widget(form.descripcion) }}
        				<div class="error red">{{ form_errors(form.descripcion) }}</div>
    				</div>
    				
    				<div class="campo_login">
       		 		<div class="label_campo_login">{{ form_label(form.file) }}</div>
        				{{ form_widget(form.file) }}
        				<div class="error red">{{ form_errors(form.file) }}</div>
    				</div>

    				<div class="campo_login">
    					<input type="submit" value="{% trans %}Crear{% endtrans %}" />
    				</div>
            </form>
			</section>
		</div>
	{% endif %}
	
	{% if is_granted('ROLE_VECINO') %}
			<div id="administrador" class="no_mostrar">
				<div class="centrado">
					Administrador: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.nombre}} {{app.user.bloque.comunidad.administrador.apellidos}}</span>
					Teléfono: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.telefono}}</span>
					{% if app.user.bloque.comunidad.administrador.fax!=null%}
						Fax: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.fax}}</span>
					{% endif %}
				</div>
				<div class="centrado">
					Email: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.email}}</span>
					Dirección: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.direccion}}, {{app.user.bloque.comunidad.administrador.localidad}} ({{app.user.bloque.comunidad.administrador.provincia}})</span>
				</div>
			</div>
		{% endif %}
{% endblock %}
