{% extends is_granted('ROLE_ADMINFINCAS') ? 'ECPrincipalBundle::layout_comunidad.html.twig' : 'ECPrincipalBundle::layout.html.twig' %}

{% block title %}
	{% trans %}Reunión{% endtrans %} -
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
   {{ parent() }}
   <link rel='stylesheet' type='text/css' href="{{ asset('css/botones.css') }}" />
      
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
{% endblock %}

{% block colder %}
	{{ parent() }}
	
	{% for flashMessage in app.session.flashbag.get('notice') %}
			{% for flashColor in app.session.flashbag.get('color') %}
    			<div class="flash-notice mensaje {{flashColor}}">
        			{{ flashMessage }}
    			</div>
    		{% endfor %}
	{% endfor %}
	
	<h2 class="centrado">{%trans%}Reunión{%endtrans%}</h2>
	
	<div id="reunion">
		<div><strong>{%trans%}Formato{%endtrans%}: </strong>
			{% if reunion.getFormat()=='pdf' or reunion.getFormat()=='odt' or reunion.getFormat()=='odp' or reunion.getFormat()=='ods' or reunion.getFormat()=='doc' or reunion.getFormat()=='txt' %}
				<img src="{{ asset('images/'~reunion.getFormat()~'-icon.png') }}" alt="{{reunion.getFormat()}}"/>
			{% endif %}
			{{reunion.getFormat()}}
			<strong>{%trans%}Tamaño{%endtrans%}: </strong>{{reunion.getSize()}}
		</div>
		<div><strong>{%trans%}Descripción{%endtrans%}: </strong>{{reunion.descripcion}}</div>
		<div><strong>{%trans%}Fecha{%endtrans%}: </strong><span class="azul_fuerte">{{reunion.fecha | date("d/m/Y H:i a")}}</span></div>
		<div>
			<nav>
				<a class="boton_documento btn_download" href="{{ path('ec_reunion_descargar', { 'id': reunion.id })  }}">{% trans %}Descargar{% endtrans %}</a>
				{% if is_granted('ROLE_ADMINFINCAS') %}
					<a class="boton_documento btn_delete" href="{{ path('ec_adminfincas_eliminar_reunion', { 'cif': comunidad.cif, 'id': reunion.id}) }}" onclick="return confirm('{%trans%}¿Estás seguro de eliminar la reunión{%endtrans%} {{reunion.descripcion}}?')">{% trans %}Eliminar{% endtrans %}</a>
				{% endif %}
			</nav>
		</div>
	
		<div>
			<iframe id="viewer" src="{{ asset('bundles/ecprincipal/Viewer.js/index.html') }}#{{ asset('uploads/reuniones/'~reunion.path~'') }}" width='700' height='900' allowfullscreen></iframe>
		</div>
	</div>
	
	{% if is_granted('ROLE_VECINO') %}
			<div id="administrador" class="no_mostrar">
				<div class="centrado">
					Administrador: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.nombre}} {{app.user.bloque.comunidad.administrador.apellidos}}</span>
					Teléfono: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.telefono}}</span>
					{% if app.user.bloque.comunidad.administrador.fax!=null%}
						Fax: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.fax}}</span>
					{% endif %}
				</div>
				<div class="centrado">
					Email: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.email}}</span>
					Dirección: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.direccion}}, {{app.user.bloque.comunidad.administrador.localidad}} ({{app.user.bloque.comunidad.administrador.provincia}})</span>
				</div>
			</div>
		{% endif %}
{% endblock %}