{% extends is_granted('ROLE_ADMINFINCAS') ? 'ECPrincipalBundle::layout_comunidad.html.twig' : 'ECPrincipalBundle::layout.html.twig' %}

{% block title %}
	{% trans %}Reunión{% endtrans %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
   {{ parent() }}
   <link rel='stylesheet' type='text/css' href="{{ asset('css/botones.css') }}" />
      
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
{% endblock %}

{% block colder %}
	{{ parent() }}
	
	{% for flashMessage in app.session.flashbag.get('notice') %}
			{% for flashColor in app.session.flashbag.get('color') %}
    			<div class="flash-notice mensaje {{flashColor}}">
        			{{ flashMessage }}
    			</div>
    		{% endfor %}
	{% endfor %}
	
	<h2 class="centrado">{%trans%}Reunión{%endtrans%}</h2>
	
	<div id="reunion">
		<div><strong>{%trans%}Descripción{%endtrans%}: </strong>{{reunion.descripcion}}</div>
		<div><strong>{%trans%}Fecha{%endtrans%}: </strong>{{reunion.fecha | date("d/m/Y H:i a")}}</div>
		<div><strong>{%trans%}Formato{%endtrans%}: </strong>
			{% if reunion.getFormat()=='pdf' or reunion.getFormat()=='odt' or reunion.getFormat()=='odp' or reunion.getFormat()=='ods' or reunion.getFormat()=='doc' or reunion.getFormat()=='txt' %}
				<img src="{{ asset('images/'~reunion.getFormat()~'-icon.png') }}" alt="{{reunion.getFormat()}}"/>
			{% endif %}
			{{reunion.getFormat()}}
		</div>
		<div><strong>{%trans%}Tamaño{%endtrans%}: </strong>{{reunion.getSize()}}</div>
		<div>
			<a class="boton_documento btn_download" href="{{ path('ec_reunion_descargar', { 'id': reunion.id })  }}">{% trans %}Descargar{% endtrans %}</a>
			{% if is_granted('ROLE_ADMINFINCAS') %}
				<a class="boton_documento btn_delete" href="{{ path('ec_adminfincas_eliminar_reunion', { 'cif': comunidad.cif, 'id': reunion.id}) }}" onclick="return confirm('{%trans%}¿Estás seguro de eliminar la reunión{%endtrans%} {{reunion.descripcion}}?')">{% trans %}Eliminar{% endtrans %}</a>
			{% endif %}
		</div>
	
		<div>
			<iframe id="viewer" src="{{ asset('bundles/ecprincipal/Viewer.js/index.html') }}#{{ asset('uploads/reuniones/'~reunion.path~'') }}" width='700' height='900' allowfullscreen></iframe>
		</div>
	</div>
{% endblock %}