{% extends 'ECPrincipalBundle::layout_comunidad.html.twig' %}

{% block title %}
	{{ parent() }}
	{% trans %}Nuevo propietario{% endtrans %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
{% endblock %}

{% block colder %}
	{{ parent() }}

	{% for flashMessage in app.session.flashbag.get('notice') %}
			{% for flashColor in app.session.flashbag.get('color') %}
    			<div class="flash-notice mensaje {{flashColor}}">
        			{{ flashMessage }}
    			</div>
    		{% endfor %}
	{% endfor %}
	
		<section class="form">
			<h2 class="centrado">{% trans %}Nuevo propietario{% endtrans %}</h2>

         <form action="{{ path('ec_adminfincas_comunidad_alta_propietario', { 'cif': comunidad.cif, '_format': 'pdf' }) }}" method="post" {{ form_enctype(form) }}>
    				<div class="red">{{ form_errors(form) }}</div>
 			
    				<div class="campo">
        				<div class="label_campo">{{ form_label(form.razon) }} *</div>
       				 {{ form_widget(form.razon) }}
        				<div class="error red">{{ form_errors(form.razon) }}</div>
    				</div>
    				
    				<div class="campo">
        				<div class="label_campo">{{ form_label(form.propiedad) }} *</div>
        				{{ form_widget(form.propiedad) }}
        				<div class="error red">{{ form_errors(form.propiedad) }}</div>        
    				</div>
    				
    				<div class="campo">
        				<div class="label_campo">{{ form_label(form.bloque) }} *</div>
        				{{ form_widget(form.bloque) }}
        				<div class="error red">{{ form_errors(form.bloque) }}</div>        
    				</div>
    				
    				<div class="clear"></div>
    				
    				<div class="campo">
    				   (*) {% trans %}Campo obligatorio{% endtrans %}
    					<input type="submit" value="{% trans %}Enviar{% endtrans %}" />
    				</div>
			</form>

		</section>

		<section class="form">
				<h2 class="centrado">{% trans %}Importar propietarios mediante CSV{% endtrans %}</h2>

            <form id="form_csv" action="{{ path('ec_adminfincas_comunidad_alta_propietario', { 'cif': comunidad.cif, '_format': 'pdf' }) }}" method="post" {{ form_enctype(form_csv) }}>
    				<div class="red">{{ form_errors(form_csv) }}</div>

    				<div class="campo">
       		 		<div class="label_campo_login">{{ form_label(form_csv.file) }}</div>
        				{{ form_widget(form_csv.file) }}
        				<div class="error red">{{ form_errors(form_csv.file) }}</div>
    				</div> 
    				  
    				<div class="clear"></div>
    				
    				<div class="campo">
    					<input type="submit" value="{% trans %}Enviar{% endtrans %}" />
    				</div>
            </form>
		</section>
{% endblock %}