<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE pdf SYSTEM "%resources%/dtd/doctype.dtd">
<pdf>
	<dynamic-page>
		<h1 padding="10px" background-color="#316431" width="100%"><span color="yellow">Entre</span><span color="white">Comunidades</span></h1>
		<h2>{%trans%}Comunidad{%endtrans%}: {{comunidad.codigo}}</h2>
		<p>{%trans%}Listado de propietarios{%endtrans%}</p>
		<table>
			<tr padding="5px">
				<td text-align="center" font-style="bold">{%trans%}NºBloque{%endtrans%}</td>
				<td text-align="center" font-style="bold">{%trans%}Dirección{%endtrans%}</td>
				<td text-align="center" font-style="bold">{%trans%}Piso{%endtrans%}</td>
				<td text-align="center" font-style="bold">{%trans%}Propietario{%endtrans%}</td>
			</tr>
			
			{% for bloque in bloques %}
				{% for propiedad in bloque.propiedades%}
					<tr>
						<td>{{bloque.num}}</td>
						<td>{{bloque.direccion}}</td>
						<td>{{propiedad.piso}}</td>
       				<td>{{propiedad.propietario.razon}}</td>
      			</tr>
      		{% endfor %}
			{% endfor %}

		</table>
		<p text-align="right">{{ "now"|date("d/m/Y") }}</p>
	</dynamic-page>
</pdf>