{% extends 'ECPrincipalBundle::layout_comunidad.html.twig' %}

{% block title %}
	{{ parent() }}
	{% trans %}Propietarios{% endtrans %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/table.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/menu_acciones.css') }}" type="text/css" rel="stylesheet" />
    <link rel='stylesheet' type='text/css' href="{{ asset('css/botones.css') }}" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
       	var Buscar = '{%trans%}Buscar{%endtrans%}';
       	var Mostrando = '{%trans%}Mostrando{%endtrans%}';
       	var entradas = '{%trans%}entradas{%endtrans%}';
       	var de = '{%trans%}de{%endtrans%}';
       	var a = '{%trans%}a{%endtrans%}';
			var Anterior = '{%trans%}Anterior{%endtrans%}';
			var Siguiente = '{%trans%}Siguiente{%endtrans%}';
			var NoDatos = '{%trans%}No hay datos{%endtrans%}';
			var NoRegistros = '{%trans%}No hay registros coincidentes encontrados{%endtrans%}';
			var Cargando = '{%trans%}Cargando...{%endtrans%}';
			var Procesando = '{%trans%}Procesando...{%endtrans%}';
			var filtrado = '{%trans%}filtrado{%endtrans%}';
	</script>
	<script type='text/javascript' src="{{ asset('js/jquery.dataTables.js') }}"></script>  
	<script type="text/javascript">
			$(document).ready(function() {
				$('#example').dataTable();
			} );
	</script>
	<script type="text/javascript"> 
	$(function() {
  		if ($.browser.msie && $.browser.version.substr(0,1)<7)
  		{
    		$('li').has('ul').mouseover(function(){
        		$(this).children('ul').css('visibility','visible');
        	}).mouseout(function(){
        		$(this).children('ul').css('visibility','hidden');
        })
  		}
	}); 
	</script>
{% endblock %}

{% block colder %}
	{{ parent() }}
	
	{% for flashMessage in app.session.flashbag.get('notice') %}
			{% for flashColor in app.session.flashbag.get('color') %}
    			<div class="flash-notice mensaje {{flashColor}}">
        			{{ flashMessage }}
    			</div>
    		{% endfor %}
	{% endfor %}
	
	<h2 class="verde centrado">{% trans %}Propietarios{% endtrans %}</h2>
	
	<a href="{{ path('ec_adminfincas_comunidad_listado_propietarios_pdf', { 'cif': comunidad.cif }) }}"><img src="{{ asset('images/pdf-icon.png') }}" alt="pdf"></a>
	<a href="{{ path('ec_adminfincas_comunidad_listado_propietarios_csv', { 'cif': comunidad.cif }) }}"><img src="{{ asset('images/csv-icon.png') }}" alt="csv"></a>
	<a class="boton_alta btn_nuevo" href="{{ path('ec_adminfincas_comunidad_alta_propietario', { 'cif': comunidad.cif }) }}">{% trans %}Nuevo Propietario{% endtrans %}</a>
	
	<span id="leyenda_propietarios">
		<span class="color_vicepresidente derecha">{%trans%}Vicepresidente{%endtrans%}</span>
  		<span class="color_presidente derecha">{%trans%}Presidente{%endtrans%}</span>
	</span>
	
	<div id="demo">
		<table class="display" id="example">
			<thead>
				<tr>
					<th id="bloque">{% trans %}Bloque{% endtrans %}</th>
					<th id="direccion" class="no_mostrar">{% trans %}Dirección{% endtrans %}</th>
					<th id="propiedad_">{% trans %}Propiedad{% endtrans %}</th>
					<th id="razon" class="no_mostrar">{% trans %}Nombre/Razón Social{% endtrans %}</th>
					<th id="conexion" class="no_mostrar">{% trans %}Conexión{% endtrans %}</th>
					<th id="acciones">{% trans %}Acciones{% endtrans %}</th>
				</tr>
			</thead>
			<tbody>
			{% for bloque in bloques %}
				{% for propietario in bloque.propietarios%}
					<tr class="gradeX {% if propietario.role.id == 3%}color_presidente{%else%}{% if propietario.role.id == 4%}color_vicepresidente{%endif%}{%endif%}">
					   <td headers="bloque">{{bloque.num}}</td>
					   <td headers="direccion" class="no_mostrar">{{bloque.direccion}}</td>
					   <td headers="propiedad_">{{propietario.propiedad}}</td>
       				<td headers="razon" class="no_mostrar">{{propietario.razon}}</td>
       				<td headers="conexion" class="no_mostrar">{% if propietario.getUltimoLog() is empty %}
								-
       					{% else %}
       						 {{propietario.getUltimoLog().fecha | date("d/m/Y H:i") }}
       					{% endif %}
       				</td>
       				<td headers="acciones">
								<ul class="menu_acciones">
									<li><a href="#">{% trans %}Acciones{% endtrans %}</a>
										<ul>
											<li><a href="{{ path('ec_adminfincas_nombrar_presidente', { 'cif' : comunidad.cif, 'id': propietario.id }) }}" onclick="return confirm('{%trans%}¿Estás seguro de nombrar como nuevo presidente a{%endtrans%} {{propietario.razon}}?')">{% trans %}Es presidente{% endtrans %}</a></li>
											<li><a href="{{ path('ec_adminfincas_nombrar_vicepresidente', { 'cif' : comunidad.cif, 'id': propietario.id}) }}" onclick="return confirm('{%trans%}¿Estás seguro de nombrar como nuevo vicepresidente a{%endtrans%} {{propietario.razon}}?')">{% trans %}Es vicepresidente{% endtrans %}</a></li>
											<li><a href="{{ path('ec_adminfincas_comunidad_generar_password_propietario', { 'cif' : comunidad.cif, 'id': propietario.id}) }}" onclick="return confirm('{%trans%}¿Estás seguro de generar una nueva contraseña a{%endtrans%} {{propietario.razon}}?')">{% trans %}Generar contraseña{% endtrans %}</a></li>
											<li><a href="{{ path('ec_adminfincas_comunidad_eliminar_propietario', { 'cif': comunidad.cif, 'id': propietario.id}) }}" onclick="return confirm('{%trans%}¿Estás seguro de eliminar a{%endtrans%} {{propietario.razon}}?')">{% trans %}Eliminar{% endtrans %}</a></li>
										</ul>
									</li>
								</ul>
       				</td>
      			</tr>
      		{% endfor %} 
			{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}