{% extends 'ECPrincipalBundle::layout.html.twig' %}

{% block title %}
	{% trans %}Mi Perfil{% endtrans %} -
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
 {{ parent() }}
      <link rel='stylesheet' type='text/css' href="{{ asset('css/botones.css') }}" />

{% endblock %}

{% block colder %}
	{{ parent() }}
		{% for flashMessage in app.session.flashbag.get('notice') %}
			{% for flashColor in app.session.flashbag.get('color') %}
    			<div class="flash-notice mensaje {{flashColor}}">
        			{{ flashMessage }}
    			</div>
    		{% endfor %}
		{% endfor %}	

		<section class="form">
			<h2 class="centrado">{% trans %}Mi Perfil{% endtrans %}</h2>
			
			<a class="boton_alta btn_password" href="{{ path('ec_usuario_contraseña') }}"><span>{% trans %}Contraseña{% endtrans %}</span></a>
			{{ form_start(form) }}
    			<div class="red">{{ form_errors(form) }}</div>
 
    			<div class="campo">
        			<div class="label_campo">{{ form_label(form.razon) }}</div>
       		 	{{ form_widget(form.razon) }}
        			<div class="error red">{{ form_errors(form.razon) }}</div>
    			</div>

    			<div class="campo">
        			<div class="label_campo">{{ form_label(form.telefono) }}</div>
        			{{ form_widget(form.telefono) }}
        			<div class="error red">{{ form_errors(form.telefono) }}</div>       
    			</div>

    			<div class="campo">
        			<div class="label_campo">{{ form_label(form.email) }}</div>
        			{{ form_widget(form.email) }}        
       		 	<div class="error red">{{ form_errors(form.email) }}</div>
    			</div>
    		
    			<div class="campo">
    				<input type="submit" value="{% trans %}Actualizar{% endtrans %}"/>
    			</div>
 
			{{ form_end(form) }}
		</section>
		
		{% if is_granted('ROLE_VECINO') %}
			<div id="administrador" class="no_mostrar">
				<div class="centrado">
					Administrador: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.nombre}} {{app.user.bloque.comunidad.administrador.apellidos}}</span>
					Teléfono: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.telefono}}</span>
					{% if app.user.bloque.comunidad.administrador.fax!=null%}
						Fax: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.fax}}</span>
					{% endif %}
				</div>
				<div class="centrado">
					Email: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.email}}</span>
					Dirección: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.direccion}}, {{app.user.bloque.comunidad.administrador.localidad}} ({{app.user.bloque.comunidad.administrador.provincia}})</span>
				</div>
			</div>
		{% endif %}
{% endblock %}
