{% extends 'ECPrincipalBundle::layout_email.txt.twig' %}

{% block subheader %}
	{{ parent() }}
	
	<section id="botones">
		<p class="azul cab negrita">Bienvenid@ {{nombre}}</p>
   </section>
{% endblock %}

{% block contenido %}
	{{ parent() }}
	
	<p class="azul">Se ha dado de alta correctamente. Sus datos de acceso se muestran a continuación.</p>
	<p class="azul negrita cursiva">Usuario:  {{usuario}}</p>
	<p class="azul negrita cursiva">Password: {{pass}}</p>
	<p class="azul">Puede acceder a su área privada <a href="{{ url("login")}}">aqui</a>.</p>
{% endblock %}