{% extends 'ECPrincipalBundle::layout.html.twig' %}

{% block title %}
	{% trans %}Modificar datos personales{% endtrans %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
 {{ parent() }}
      <link rel='stylesheet' type='text/css' href="{{ asset('css/botones.css') }}" />

{% endblock %}

{% block sidebar %}
	{{ parent() }}
	
{% endblock %}

{% block colder %}
	{{ parent() }}
	
	{% for flashMessage in app.session.flashbag.get('notice') %}
			{% for flashColor in app.session.flashbag.get('color') %}
    			<div class="flash-notice mensaje" style="color:{{flashColor}}; border-color:{{flashColor}};">
        		{{ flashMessage }}
    			</div>
    		{% endfor %}
	{% endfor %}
	
	<section class="form">
			<hgroup>
				<h2 class="verde centrado">{% trans %}Datos Personales{% endtrans %}</h2>
			</hgroup>
			
			<a class="boton_alta btn_password" href="{{ path('ec_usuario_contraseña') }}"><span>{% trans %}Contraseña{% endtrans %}</span></a>
			{{ form_start(form) }}
    		<div style="color:red;">{{ form_errors(form) }}</div>
 
 			<div class="campo">
        		<div class="label_campo">{{ form_label(form.n_colegiado) }}</div>
       		 {{ form_widget(form.n_colegiado) }}
        		<div class="error">{{ form_errors(form.n_colegiado) }}</div>
    		</div>
    		
    		<div class="campo">
        		<div class="label_campo">{{ form_label(form.nombre) }} *</div>
       		 {{ form_widget(form.nombre) }}
        		<div class="error">{{ form_errors(form.nombre) }}</div>
    		</div>
    		
    		<div class="campo">
        		<div class="label_campo">{{ form_label(form.apellidos) }} *</div>
       		 {{ form_widget(form.apellidos) }}
        		<div class="error">{{ form_errors(form.apellidos) }}</div>
    		</div>
    
    		<div class="campo">
        		<div class="label_campo">{{ form_label(form.telefono) }} *</div>
        		{{ form_widget(form.telefono) }}
        		<div class="error">{{ form_errors(form.telefono) }}</div>       
    		</div>

    		<div class="campo">
       		 <div class="label_campo">{{ form_label(form.fax) }}</div>
        		{{ form_widget(form.fax) }}
       		 <div class="error">{{ form_errors(form.fax) }}</div>      
    		</div>

    		<div class="campo">
        		<div class="label_campo">{{ form_label(form.email) }} *</div>
        		{{ form_widget(form.email) }}        
       		 <div class="error">{{ form_errors(form.email) }}</div>
    		</div>

   		 <div class="campo">
        		<div class="label_campo">{{ form_label(form.direccion) }} *</div>
        		{{ form_widget(form.direccion) }}
        		<div class="error">{{ form_errors(form.direccion) }}</div>        
    		</div>

    		<div class="campo">
        		<div class="label_campo">{{ form_label(form.provincia) }} *</div>
        		{{ form_widget(form.provincia) }}
        		<div class="error">{{ form_errors(form.provincia) }}</div>        
    		</div>

    		<div class="campo">
        		<div class="label_campo">{{ form_label(form.localidad) }} *</div>
        		{{ form_widget(form.localidad) }}
       		 <div class="error">{{ form_errors(form.localidad) }}</div>        
    		</div> 	
    		
    		<div class="campo">
    			(*) {% trans %}Campo obligatorio{% endtrans %}
    		</div>
    		<div class="campo">
    		<input type="submit" value="{% trans %}Actualizar{% endtrans %}"/>
    		<input type="reset" value="{% trans %}Borrar{% endtrans %}"/>
    		</div>
 
		{{ form_end(form) }}
	</section>
{% endblock %}