{% extends 'ECPrincipalBundle::layout.html.twig' %}

{% block title %}
	{% trans %}¿Has olvidado tu contraseña?{% endtrans %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
	<script type='text/javascript'>	
		function mostrar() {
         document.getElementById('form_olvido_password').style.display='block';
      };
	</script>
{% endblock %}

{% block colder %}
	{{ parent() }}
	
	{% for flashMessage in app.session.flashbag.get('notice') %}
		{% for flashColor in app.session.flashbag.get('color') %}
    		<div class="flash-notice mensaje {{flashColor}}">
        		{{ flashMessage }}
    		</div>
    	{% endfor %}
	{% endfor %}
	
	<h2 class="centrado">{% trans %}¿Has olvidado tu contraseña?{% endtrans %}</h2>
   
   <h3 class="azul_fuerte izquierda">{%trans%}Si eres propietario...{%endtrans%}</h3>

   <p>{%trans%}Si eres propietario y ha olvidado la contraseña o nombre de usuario, póngase en contacto con el administrador de fincas de su comunidad de propietarios, el cual le facilitará los datos de acceso a la plataforma web.{%endtrans%}</p>
   
   <h3 class="azul_fuerte izquierda">{%trans%}Si eres administrador de fincas...{%endtrans%}</h3>

   <p>{%trans%}Si eres administrador de fincas y ha olvidado la contraseña o nombre de usuario de acceso a la plataforma web, haz click{%endtrans%} <a class="link" href="#" onclick="mostrar()">{%trans%}aquí{%endtrans%}</a>.</p>
   
	<div id="form_olvido_password" class="oculto">
		<p>{%trans%}Introduzca su email y le enviaremos sus nuevos datos de acceso.{%endtrans%}</p>
		
		{{ form_start(form) }}
    		<div class="red">{{ form_errors(form) }}</div>

    		<div class="campo_login">
        		<div class="label_campo">{{ form_label(form.email) }}</div>
        		{{ form_widget(form.email) }}
        		<div class="error red">{{ form_errors(form.email) }}</div>
    		</div>

    		<div class="campo_login">
    			<input type="submit" value="{% trans %}Enviar{% endtrans %}"/>
    		</div>
		{{ form_end(form) }}
	</div>
	
	<div id="skyline">
		<img src="{{ asset('images/skyline2.png') }}" alt="skyline" />
	</div>
	
{% endblock %}