{% extends 'ECAdminFincasBundle::layout_comunidad.html.twig' %}

{% block sidebar %}
 {{ parent() }}
 
{% endblock %}

{% block colder %}
{{ parent() }}

	{% for flashMessage in app.session.flashbag.get('notice') %}
			{% for flashColor in app.session.flashbag.get('color') %}
    			<div class="flash-notice mensaje" style="color:{{flashColor}}; border-color:{{flashColor}};">
        		{{ flashMessage }}
    			</div>
    		{% endfor %}
	{% endfor %}
	
		<section id="form">
			<div class="subtitulo centrado">Alta Propietario</div>
         <form action="{{ path('ec_adminfincas_comunidad_alta_propietario', { 'cif': comunidad.cif }) }}" method="post">
    				<div style="color:red;">{{ form_errors(form) }}</div>
 			
    				<div class="campo">
        				<div class="label_campo">{{ form_label(form.propietario.nombre) }}</div>*
       				 {{ form_widget(form.propietario.nombre) }}
        				<div class="error">{{ form_errors(form.propietario.nombre) }}</div>
    				</div>
    				
    				<div class="campo">
        				<div class="label_campo">{{ form_label(form.piso) }}</div>*
        				{{ form_widget(form.piso) }}
        				<div class="error">{{ form_errors(form.piso) }}</div>        
    				</div>
    
    				<div class="campo">
        				<div class="label_campo">{{ form_label(form.propietario.telefono) }}</div>
        				{{ form_widget(form.propietario.telefono) }}
        				<div class="error">{{ form_errors(form.propietario.telefono) }}</div>       
    				</div>

    				<div class="campo">
        				<div class="label_campo">{{ form_label(form.propietario.email) }}</div>
        				{{ form_widget(form.propietario.email) }}        
       		 		<div class="error">{{ form_errors(form.propietario.email) }}</div>
    				</div>
    				
    				<div class="campo">
        				<div class="label_campo">{{ form_label(form.bloque) }}</div>*
        				{{ form_widget(form.bloque) }}
        				<div class="error">{{ form_errors(form.bloque) }}</div>        
    				</div>
    				<div class="campo">
    					    (*) Campo Obligatorio
    				</div>
    				
    				<div class="campo">
    					<input type="submit" value="Enviar"/>
    					<input type="reset" value="Borrar"/>
    				</div>
			</form>
		</section>
{% endblock %}
