{% extends 'ECAdminFincasBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/table.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/boton_acciones.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
		{{ parent() }}
<script type='text/javascript' src="{{ asset('js/jquery.js') }}"></script>    
<script type='text/javascript' src="{{ asset('js/jquery.dataTables.js') }}"></script>  
<script type='text/javascript' src="{{ asset('js/boton_acciones.js') }}"></script>    
<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#example').dataTable();
			} );
</script>
{% endblock %}

{% block colder %}

	{% for flashMessage in app.session.flashbag.get('notice') %}
			{% for flashColor in app.session.flashbag.get('color') %}
    			<div class="flash-notice mensaje" style="color:{{flashColor}}; border-color:{{flashColor}};">
        		{{ flashMessage }}
    			</div>
    		{% endfor %}
	{% endfor %}
	
<div class="subtitulo centrado">Comunidad: {{comunidad.cif}}</div>
       <a href="{{ path('ec_adminfincas_alta_propietario')}}">Nuevo Propietario</a>
<div id="demo">
		<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
			<thead>
				<tr>
					<th>DNI</th>
					<th>Tipo</th>
					<th>Nombre</th>
					<th>Portal</th>
					<th>Piso</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
			{% for propietario in propietarios %}
				<tr class="gradeX">
       			<td>{{propietario.dni}}</td>
       			<td>{{propietario.tipo}}</td>
       			<td>{{propietario.nombre}} {{propietario.apellidos}}</td>
       			<td>{{propietario.portal}}</td>
       			<td>{{propietario.piso}}</td>
       			<td>
						<ul id="sddm">
    						<li><a href="" onmouseover="mopen({{propietario.dni}})" onmouseout="mclosetime()">Acciones</a>
        						<div id="{{propietario.dni}}" onmouseover="mcancelclosetime()" onmouseout="mclosetime()">
        						<a href="{{ path('ec_adminfincas_nombrar_presidente', { 'cif' : comunidad.cif, 'dni': propietario.dni}) }}" onclick="return confirm('¿Estás seguro de nombrar a {{propietario.nombre}} {{propietario.apellidos}} como nuevo presidente?')">Nombrar Presidente</a>
        						<a href="{{ path('ec_adminfincas_nombrar_vicepresidente', { 'cif' : comunidad.cif, 'dni': propietario.dni}) }}" onclick="return confirm('¿Estás seguro de nombrar a {{propietario.nombre}} {{propietario.apellidos}} como nuevo vicepresidente?')">Nombrar Vicepresidente</a>
        						</div>
    						</li>
						</ul>
						<div style="clear:both"></div>
       			</td>
      		</tr> 
			{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<th>DNI</th>
					<th>Tipo</th>
					<th>Nombre</th>
					<th>Portal</th>
					<th>Piso</th>
					<th>Acciones</th>
				</tr>
			</tfoot>
		</table>
</div>

{% endblock %}
