{% extends 'ECAdminFincasBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/table.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
		{{ parent() }}
<script type='text/javascript' src="{{ asset('js/jquery.js') }}"></script>    
<script type='text/javascript' src="{{ asset('js/jquery.dataTables.js') }}"></script>    
	   <script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#example').dataTable();
			} );
		</script>
{% endblock %}

{% block colder %}
	{% for flashMessage in app.session.flashbag.get('notice') %}
			{% for flashColor in app.session.flashbag.get('color') %}
    			<div class="flash-notice mensaje" style="color:{{flashColor}}; border-color:{{flashColor}};">
        		{{ flashMessage }}
    			</div>
    		{% endfor %}
	{% endfor %}
<div class="subtitulo izquierda">Listado de Comunidades</div>
<a href="{{ path('ec_adminfincas_listado_comunidades_pdf') }}"><img src="/images/pdf-icon.png" alt="pdf"></a>
<a href="{{ path('ec_adminfincas_listado_comunidades_csv') }}"><img src="/images/csv-icon.png" alt="csv"></a>
<div id="demo">
		<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
			<thead>
				<tr>
					<th>Código Despacho</th>
					<th>Cif</th>
					<th>Cuidad</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
			{% for comunidad in comunidades %}
				<tr class="gradeX">
				   <td onclick="window.location.href='{{ path('ec_adminfincas_comunidad', { 'cif': comunidad.cif }) }}';" style="cursor:pointer;">{{comunidad.codigo}}</td>
       			<td onclick="window.location.href='{{ path('ec_adminfincas_comunidad', { 'cif': comunidad.cif }) }}';" style="cursor:pointer;">{{comunidad.cif}}</td>
       			<td onclick="window.location.href='{{ path('ec_adminfincas_comunidad', { 'cif': comunidad.cif }) }}';" style="cursor:pointer;">{{comunidad.city.name}}</td>
       			<td>
       			<a href="{{ path('ec_adminfincas_comunidad_editar', { 'cif': comunidad.cif}) }}"><img src="/images/pencil-icon.png" alt="edit"></a>
       			<a href="{{ path('ec_adminfincas_comunidad_eliminar', { 'cif': comunidad.cif}) }}" onclick="return confirm('¿Estás seguro?')"><img src="/images/action-cancel-icon.png" alt="cancel"></a>
       			</td>
      		</tr> 
			{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<th>Código Despacho</th>
					<th>Cif</th>
					<th>Cuidad</th>
					<th>Acciones</th>
				</tr>
			</tfoot>
		</table>
</div>

{% endblock %}
