{% extends 'ECPrincipalBundle::layout_email.txt.twig' %}

{% block subheader %}
	{{ parent() }}
	
	<section id="botones">
		<p class="azul cab negrita">Nueva incidencia</p>
   </section>
{% endblock %}

{% block contenido %}
	{{ parent() }}
	
	<p class="azul negrita cursiva">Comunidad:  {{comunidad.codigo}}</p>
	<p class="azul">Fecha: {{incidencia.fecha| date("d/m/Y H:i a")}}</p>
	<p class="azul">Categoría:  {{categoria}}</p>
	<p class="azul">Asunto: {{incidencia.asunto}}</p>
	<p class="azul">Descripción: {{incidencia.descripcion}}</p>
{% endblock %}