{% extends is_granted('ROLE_ADMINFINCAS') ? 'ECPrincipalBundle::layout_comunidad.html.twig' : 'ECPrincipalBundle::layout.html.twig' %}

{% block title %}
	{% trans %}Incidencias{% endtrans %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/table.css') }}" type="text/css" rel="stylesheet" />
    <link rel='stylesheet' type='text/css' href="{{ asset('css/botones.css') }}" />
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
       	var Buscar = '{%trans%}Buscar{%endtrans%}';
       	var Mostrando = '{%trans%}Mostrando{%endtrans%}';
       	var entradas = '{%trans%}entradas{%endtrans%}';
       	var de = '{%trans%}de{%endtrans%}';
       	var a = '{%trans%}a{%endtrans%}';
			var Anterior = '{%trans%}Anterior{%endtrans%}';
			var Siguiente = '{%trans%}Siguiente{%endtrans%}';
			var NoDatos = '{%trans%}No hay datos{%endtrans%}';
			var NoRegistros = '{%trans%}No hay registros coincidentes encontrados{%endtrans%}';
			var Cargando = '{%trans%}Cargando...{%endtrans%}';
			var Procesando = '{%trans%}Procesando...{%endtrans%}';
			var filtrado = '{%trans%}filtrado{%endtrans%}';
	</script>
	<script type='text/javascript' src="{{ asset('js/jquery.dataTables.js') }}"></script>  
	<script type="text/javascript">
			$(document).ready(function() {
				$('#example').dataTable();
			} );
	</script>
{% endblock %}

{% block colder %}
	{{ parent() }}
	{% for flashMessage in app.session.flashbag.get('notice') %}
			{% for flashColor in app.session.flashbag.get('color') %}
    			<div class="flash-notice mensaje {{flashColor}}">
        			{{ flashMessage }}
    			</div>
    		{% endfor %}
	{% endfor %}
	
	<h2 class="verde centrado">{% trans %}Incidencias{% endtrans %}</h2>
	
	{% if is_granted('ROLE_VECINO')%}
   	<a class="boton_alta btn_nuevo" href="{{ path('ec_propietario_nueva_incidencia') }}"><span>{% trans %}Notificar Incidencia{% endtrans %}</span></a>
   {% endif %}
   
	<div id="demo">
		<table class="display" id="example">
			<thead>
				<tr>
					<th id="fecha">{% trans %}Fecha{% endtrans %}</th>
					<th id="categoria">{% trans %}Categoría{% endtrans %}</th>
					<th id="asunto">{% trans %}Asunto{% endtrans %}</th>
					<th id="n_actuaciones" class="no_mostrar">{% trans %}NºActuaciones{% endtrans %}</th>
					<th id="estado">{% trans %}Estado{% endtrans %}</th>
				</tr>
			</thead>
			<tbody>
			{% for incidencia in incidencias %}
					<tr class="gradeX">
					   <td headers="fecha" class="cursor_pointer" onclick="window.location.href='{{ path('ec_incidencia', { 'id': incidencia.id }) }}';">{{incidencia.fecha | date("d/m/Y H:i:s a")}}</td>
       				<td headers="categoria" class="cursor_pointer" onclick="window.location.href='{{ path('ec_incidencia', { 'id': incidencia.id }) }}';">{{incidencia.categoria.nombre}}</td>
       				<td headers="asunto" class="cursor_pointer" onclick="window.location.href='{{ path('ec_incidencia', { 'id': incidencia.id }) }}';">{{incidencia.asunto}}</td>
       				<td headers="n_actuaciones" class="cursor_pointer no_mostrar" onclick="window.location.href='{{ path('ec_incidencia', { 'id': incidencia.id }) }}';">{{incidencia.getActuaciones()|length}}</td>
       				<td headers="estado" class="cursor_pointer" onclick="window.location.href='{{ path('ec_incidencia', { 'id': incidencia.id }) }}';">{{incidencia.estado.nombre}}</td>
      			</tr> 
			{% endfor %}
			</tbody>
		</table>
	</div>
	
{% endblock %}