{% extends is_granted('ROLE_ADMINFINCAS') ? 'ECPrincipalBundle::layout_comunidad.html.twig' : 'ECPrincipalBundle::layout.html.twig' %}

{% block title %}
	{% trans %}Incidencias{% endtrans %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/table.css') }}" type="text/css" rel="stylesheet" />
    <link rel='stylesheet' type='text/css' href="{{ asset('css/botones.css') }}" />
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script type='text/javascript' src="{{ asset('js/jquery.js') }}"></script>    
	<script type='text/javascript' src="{{ asset('js/jquery.dataTables.js') }}"></script>  
	<script type="text/javascript">
			$(document).ready(function() {
				$('#example').dataTable();
			} );
	</script>
{% endblock %}

{% block colder %}
	{{ parent() }}
	{% for flashMessage in app.session.flashbag.get('notice') %}
			{% for flashColor in app.session.flashbag.get('color') %}
    			<div class="flash-notice mensaje" style="color:{{flashColor}}; border-color:{{flashColor}};">
        		{{ flashMessage }}
    			</div>
    		{% endfor %}
	{% endfor %}
	
	<h2 class="verde centrado">{% trans %}Incidencias{% endtrans %}</h2>
	
	{% if is_granted('ROLE_VECINO')%}
   <a class="boton_alta btn_nuevo" href="{{ path('ec_propietario_nueva_incidencia') }}"><span>{% trans %}Notificar{% endtrans %}</span></a>
   {% endif %}
   {% if is_granted('ROLE_ADMINFINCAS')%}
   <a class="boton_estadistica btn_estadistica" href="{{ path('ec_adminfincas_comunidad_estadisticas_incidencias', {'cif':comunidad.cif}) }}"><span>{% trans %}Estadísticas{% endtrans %}</span></a>
   {% endif %}
   
	<div id="demo">
		<table class="display" id="example">
			<thead>
				<tr>
					<th>{% trans %}Fecha{% endtrans %}</th>
					<th>{% trans %}Categoria{% endtrans %}</th>
					<th>{% trans %}Asunto{% endtrans %}</th>
					<th>{% trans %}Estado{% endtrans %}</th>
				</tr>
			</thead>
			<tbody>
			{% for incidencia in incidencias %}
					<tr class="gradeX">
					   <td onclick="window.location.href='{{ path('ec_incidencia', { 'id': incidencia.id }) }}';" style="cursor:pointer;">{{incidencia.fecha | date("d/m/Y H:i:s a")}}</td>
       				<td onclick="window.location.href='{{ path('ec_incidencia', { 'id': incidencia.id }) }}';" style="cursor:pointer;">{{incidencia.categoria.nombre}}</td>
       				<td onclick="window.location.href='{{ path('ec_incidencia', { 'id': incidencia.id }) }}';" style="cursor:pointer;">{{incidencia.asunto}}</td>
       				<td onclick="window.location.href='{{ path('ec_incidencia', { 'id': incidencia.id }) }}';" style="cursor:pointer;">{{incidencia.estado.nombre}}</td>
      			</tr> 
			{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<th>{% trans %}Fecha{% endtrans %}</th>
					<th>{% trans %}Categoria{% endtrans %}</th>
					<th>{% trans %}Asunto{% endtrans %}</th>
					<th>{% trans %}Estado{% endtrans %}</th>
				</tr>
			</tfoot>
		</table>
</div>
	
{% endblock %}