{% extends 'ECPrincipalBundle::layout.html.twig' %}

{% block title %}
	{% trans %}Nueva incidencia{% endtrans %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
	
	 <script type="text/javascript">
		$(document).ready( function(){
		
			var idtextarea="incidencia_descripcion";
			var idcontador="contador";
			var max="500";
			
			$("#"+idtextarea).keyup(function(){
				updateContadorTa(idtextarea, idcontador,max);
			});
			
			$("#"+idtextarea).keydown(function(){
				updateContadorTa(idtextarea, idcontador,max);
			});
 
			$("#"+idtextarea).change(function(){
				updateContadorTa(idtextarea, idcontador,max);
			});
		});
 
		function updateContadorTa(idtextarea, idcontador,max){
			var contador = $("#"+idcontador);
			var ta =     $("#"+idtextarea);
			contador.html("0/"+max);
 
			contador.html(ta.val().length+"/"+max);
			if(parseInt(ta.val().length)>max){
				ta.val(ta.val().substring(0,max-1));
				contador.html(max+"/"+max);
			}
		};
	</script>
{% endblock %}

{% block colder %}
	{{ parent() }}

	{% for flashMessage in app.session.flashbag.get('notice') %}
			{% for flashColor in app.session.flashbag.get('color') %}
    			<div class="flash-notice mensaje" style="color:{{flashColor}}; border-color:{{flashColor}};">
        			{{ flashMessage }}
    			</div>
    		{% endfor %}
	{% endfor %}
	
		<section class="form">
			<hgroup>
				<h2 class="verde centrado">{% trans %}Nueva incidencia{% endtrans %}</h2>
			</hgroup>

			{{ form_start(form) }}
    				<div class="rojo">{{ form_errors(form) }}</div>

					<div class="campo_login">
        				<div class="label_campo">{{ form_label(form.categoria) }}</div>
        				{{ form_widget(form.categoria) }}
       		 		<div class="error">{{ form_errors(form.categoria) }}</div>        
    				</div> 
    				
    				<div class="campo_login">
       		 		<div class="label_campo">{{ form_label(form.asunto) }}</div>
        				{{ form_widget(form.asunto) }}
        				<div class="error">{{ form_errors(form.asunto) }}</div>
    				</div> 
    				
    				<div class="campo_login">
       		 		<div class="label_campo">{{ form_label(form.descripcion) }}  (<span id="contador">0/500</span> {% trans %}Caracteres{% endtrans %})</div>
        				<p>{{ form_widget(form.descripcion) }}</p>
        				<div class="error">{{ form_errors(form.descripcion) }}</div>
    				</div> 		
    				   
    				<div class="campo_login">
    					<input type="submit" value="{% trans %}Notificar{% endtrans %}"/>
    				</div>
			{{ form_end(form) }}

		</section>
{% endblock %}