{% extends is_granted('ROLE_ADMINFINCAS') ? 'ECPrincipalBundle::layout_comunidad.html.twig' : 'ECPrincipalBundle::layout.html.twig' %}

{% block title %}
	{{ parent() }}
	{% trans %}Incidencia{% endtrans %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block colder %}
	{{ parent() }}

	{% for flashMessage in app.session.flashbag.get('notice') %}
			{% for flashColor in app.session.flashbag.get('color') %}
    			<div class="flash-notice mensaje" style="color:{{flashColor}}; border-color:{{flashColor}};">
        		{{ flashMessage }}
    			</div>
    		{% endfor %}
	{% endfor %}
	
	<hgroup>
		<h2 class="verde centrado">{% trans %}Incidencia{% endtrans %}</h2>
	<hgroup>
	
	<section class="form">
			<p><b>Categoría:</b> {{incidencia.categoria.nombre}}</p>
			<p><b>Asunto:</b> {{incidencia.asunto}}</p>
			<p><b>Fecha:</b> {{incidencia.fecha | date("d/m/Y H:i:s a")}}</p>
			<p><b>Propietario:</b> {{incidencia.usuario.nombre}}</p>
			<p><b>Bloque:</b> {{incidencia.usuario.propiedad.bloque.direccion}}	<b>Piso:</b> {{incidencia.usuario.propiedad.piso}}</p>
		
			{% if is_granted('ROLE_ADMINFINCAS') %}
		
				<form action="{{ path('ec_incidencia', { 'id': incidencia.id }) }}" method="post" {{ form_enctype(form_privacidad) }}>
    				   <div style="color:red;">{{ form_errors(form_privacidad) }}</div>
    				   
    					<div class="error">{{ form_errors(form_privacidad.privacidad) }}</div>
       		 		<div class="label_campo2"><b>{{ form_label(form_privacidad.privacidad) }}:</b></div>
        				{{ form_widget(form_privacidad.privacidad) }}
        				
    					<input type="submit" value="{% trans %}Cambiar{% endtrans %}"/>
				</form>
				<br></br>
				<form action="{{ path('ec_incidencia', { 'id': incidencia.id }) }}" method="post" {{ form_enctype(form_estado) }}>
    				   <div style="color:red;">{{ form_errors(form_estado) }}</div>
    				   
    					<div class="error">{{ form_errors(form_estado.estado) }}</div>
       		 		<div class="label_campo2"><b>{{ form_label(form_estado.estado) }}:</b></div>
        				{{ form_widget(form_estado.estado) }}
        				
    					<input type="submit" value="{% trans %}Actualizar{% endtrans %}"/>
				</form>
				
			{% else %}
				<p><b>Privacidad:</b> {{incidencia.privacidad.nombre}}</b></p>
				<p><b>Estado:</b> {{incidencia.estado.nombre}}</b></p>
			{% endif %}		

			<p><b>Descripción:</b> {{incidencia.descripcion}}</p>
			<p><b>Actuaciones:</b></p>
			{% for actuacion in actuaciones %}
				<p>{{actuacion.fecha | date("d/m/Y H:i:s a")}}  
				{%if actuacion.usuario is not empty%}
					{{actuacion.usuario.nombre}} {{actuacion.usuario.apellidos}} 
					{% if actuacion.usuario.role.nombre=='ROLE_ADMINFINCAS' %}(Administrador){% endif %}
					{% if actuacion.usuario.role.nombre=='ROLE_PRESIDENTE' %}(Presidente){% endif %}
					{% if actuacion.usuario.role.nombre=='ROLE_VICEPRESIDENTE' %}(Vicepresidente){% endif %}:</p>
				{% else %}
					Antiguo propietario
				{% endif %}
				<p style="margin-left:30px;">{{actuacion.mensaje}}</p>
			{% endfor %}

			{% if ( incidencia.estado.id !='3') %}	
            <form action="{{ path('ec_incidencia', { 'id': incidencia.id }) }}" method="post">
    				<div style="color:red;">{{ form_errors(form) }}</div>
    				
    				<div class="campo_login">
       		 		<div class="label_campo">{{ form_label(form.mensaje) }}</div>
        				<p>{{ form_widget(form.mensaje) }}</p>
        				<div class="error">{{ form_errors(form.mensaje) }}</div>
    				</div> 		
    				   
    				<div class="campo_login">
    					<input type="submit" value="{% trans %}Enviar{% endtrans %}"/>
    					<input type="reset" value="{% trans %}Borrar{% endtrans %}"/>
    				</div>
				</form>
			{% endif %}
	</section>
{% endblock %}