{% extends is_granted('ROLE_ADMINFINCAS') ? 'ECPrincipalBundle::layout_comunidad.html.twig' : 'ECPrincipalBundle::layout.html.twig' %}

{% block title %}
	{{ parent() }}
	{% trans %}Incidencia{% endtrans %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
	 
	 <script type="text/javascript">
		$(document).ready( function(){
		
			var idtextarea="actuacion_mensaje";
			var idcontador="contador";
			var max="500";
			
			$("#"+idtextarea).keyup(function(){
				updateContadorTa(idtextarea, idcontador,max);
			});
			
			$("#"+idtextarea).keydown(function(){
				updateContadorTa(idtextarea, idcontador,max);
			});
 
			$("#"+idtextarea).change(function(){
				updateContadorTa(idtextarea, idcontador,max);
			});
		});
 
		function updateContadorTa(idtextarea, idcontador,max){
			var contador = $("#"+idcontador);
			var ta =     $("#"+idtextarea);
			contador.html("0/"+max);
 
			contador.html(ta.val().length+"/"+max);
			if(parseInt(ta.val().length)>max){
				ta.val(ta.val().substring(0,max-1));
				contador.html(max+"/"+max);
			}
		};
	</script>
{% endblock %}

{% block colder %}
	{{ parent() }}

	{% for flashMessage in app.session.flashbag.get('notice') %}
			{% for flashColor in app.session.flashbag.get('color') %}
    			<div class="flash-notice mensaje" style="color:{{flashColor}}; border-color:{{flashColor}};">
        		{{ flashMessage }}
    			</div>
    		{% endfor %}
	{% endfor %}
	
	<hgroup>
		<h2 class="verde centrado">{% trans %}Incidencia{% endtrans %}</h2>
	<hgroup>
	
	<section class="form">
		<section id="incidencia">
			<div><b>{%trans%}Categoría{%endtrans%}:</b> {{incidencia.categoria.nombre}}</div>
			<div><b>{%trans%}Asunto{%endtrans%}:</b> {{incidencia.asunto}}</div>
			<div><b>{%trans%}Fecha{%endtrans%}:</b> {{incidencia.fecha | date("d/m/Y H:i:s a")}}</div>
			<div><b>{%trans%}Propietario{%endtrans%}:</b> {{incidencia.propietario.razon}}</div>
			<div><b>{%trans%}Bloque{%endtrans%}:</b> {{incidencia.propietario.propiedad.bloque.direccion}}	<b>{%trans%}Piso{%endtrans%}:</b> {{incidencia.propietario.propiedad.piso}}</div>
		
			{% if is_granted('ROLE_ADMINFINCAS') %}
		
				<form action="{{ path('ec_incidencia', { 'id': incidencia.id }) }}" method="post" {{ form_enctype(form_privacidad) }}>
    				   <div class="rojo">{{ form_errors(form_privacidad) }}</div>
    				   
    					<div class="error">{{ form_errors(form_privacidad.privacidad) }}</div>
       		 		<div class="label_campo2"><b>{{ form_label(form_privacidad.privacidad) }}:</b></div>
        				{{ form_widget(form_privacidad.privacidad) }}
        				
    					<input type="submit" value="{% trans %}Cambiar{% endtrans %}"/>
				</form>
				<form action="{{ path('ec_incidencia', { 'id': incidencia.id }) }}" method="post" {{ form_enctype(form_estado) }}>
    				   <div class="rojo">{{ form_errors(form_estado) }}</div>
    				   
    					<div class="error">{{ form_errors(form_estado.estado) }}</div>
       		 		<div class="label_campo2"><b>{{ form_label(form_estado.estado) }}:</b></div>
        				{{ form_widget(form_estado.estado) }}
        				
    					<input type="submit" value="{% trans %}Actualizar{% endtrans %}"/>
				</form>
				
			{% else %}
				<div><b>{%trans%}Privacidad{%endtrans%}:</b> {{incidencia.privacidad.nombre}}</b></div>
				<div><b>{%trans%}Estado{%endtrans%}:</b> {{incidencia.estado.nombre}}</b></div>
			{% endif %}		

			<div><b>{%trans%}Descripción{%endtrans%}:</b> {{incidencia.descripcion}}</div>
			<div><b>{%trans%}Actuaciones{%endtrans%}:</b></div>
			{% for actuacion in actuaciones %}
				<div>{{actuacion.fecha | date("d/m/Y H:i:s a")}}  
				{%if actuacion.usuario is not empty%}
					{% if actuacion.usuario.role.nombre=='ROLE_ADMINFINCAS' %}
						{{actuacion.usuario.nombre}} {{actuacion.usuario.apellidos}} ({%trans%}Administrador{%endtrans%})
					{% else %}
						{% if actuacion.usuario.role.nombre=='ROLE_PRESIDENTE' %}
							{{actuacion.usuario.razon}} ({%trans%}Presidente{%endtrans%})
						{% else %}
							{% if actuacion.usuario.role.nombre=='ROLE_VICEPRESIDENTE' %}
								{{actuacion.usuario.razon}} ({%trans%}Vicepresidente{%endtrans%})
							{% else %}
								{{actuacion.usuario.razon}}
							{%endif%}
						{%endif%}
					{% endif %}			
				{% else %}
					{%trans%}Antiguo propietario{%endtrans%}
				{% endif %}
				:</div>
				<div class="margen_izquierdo">{{actuacion.mensaje}}</div>
			{% endfor %}

			{% if ( incidencia.estado.id !='3') %}	
            <form action="{{ path('ec_incidencia', { 'id': incidencia.id }) }}" method="post">
    				<div class="rojo">{{ form_errors(form) }}</div>
    				
    				<div class="campo_login">
       		 		<div class="label_campo">{{ form_label(form.mensaje) }}  (<span id="contador">0/500</span> {% trans %}Caracteres{% endtrans %})</div>
        				<div>{{ form_widget(form.mensaje) }}</div>
        				<div class="error">{{ form_errors(form.mensaje) }}</div>
    				</div> 		
    				   
    				<div class="campo_login">
    					<input type="submit" value="{% trans %}Enviar{% endtrans %}"/>
    					<input type="reset" value="{% trans %}Borrar{% endtrans %}"/>
    				</div>
				</form>
			{% endif %}
		</section>
	</section>
{% endblock %}