{% extends is_granted('ROLE_ADMINFINCAS') ? 'ECPrincipalBundle::layout_comunidad.html.twig' : 'ECPrincipalBundle::layout.html.twig' %}

{% block title %}
	{% trans %}Incidencia{% endtrans %} -
	{{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
	 
	 <script type="text/javascript">
		$(document).ready( function(){
		
			var idtextarea="actuacion_mensaje";
			var idcontador="contador";
			var max="500";
			
			$("#"+idtextarea).keyup(function(){
				updateContadorTa(idtextarea, idcontador,max);
			});
			
			$("#"+idtextarea).keydown(function(){
				updateContadorTa(idtextarea, idcontador,max);
			});
 
			$("#"+idtextarea).change(function(){
				updateContadorTa(idtextarea, idcontador,max);
			});
		});
 
		function updateContadorTa(idtextarea, idcontador,max){
			var contador = $("#"+idcontador);
			var ta =     $("#"+idtextarea);
			contador.html("0/"+max);
 
			contador.html(ta.val().length+"/"+max);
			if(parseInt(ta.val().length)>max){
				ta.val(ta.val().substring(0,max-1));
				contador.html(max+"/"+max);
			}
		};
	</script>
{% endblock %}

{% block colder %}
	{{ parent() }}

	{% for flashMessage in app.session.flashbag.get('notice') %}
			{% for flashColor in app.session.flashbag.get('color') %}
    			<div class="flash-notice mensaje {{flashColor}}">
        			{{ flashMessage }}
    			</div>
    		{% endfor %}
	{% endfor %}
	
	<h2 class="centrado">{% trans %}Incidencia{% endtrans %}</h2>
	
	<div class="form form_incidencia">
		<div id="incidencia">
			<div><strong>{%trans%}Categoría{%endtrans%}:</strong> {{incidencia.categoria.nombre|trans}}</div>
			<div><strong>{%trans%}Asunto{%endtrans%}:</strong> {{incidencia.asunto}}</div>
			<div><strong>{%trans%}Fecha{%endtrans%}:</strong> <span class="azul_fuerte">{{incidencia.fecha | date("d/m/Y H:i:s a")}}</span></div>
			<div><strong>{%trans%}Propietario{%endtrans%}:</strong> {{incidencia.propietario.razon}}</div>
			<div><strong>{%trans%}Bloque{%endtrans%}:</strong> {{incidencia.propietario.bloque.direccion}}	<strong>{%trans%}Propiedad{%endtrans%}:</strong> {{incidencia.propietario.propiedad}}</div>
			<div><strong>{%trans%}Descripción{%endtrans%}:</strong> {{incidencia.descripcion}}</div>
			{% if is_granted('ROLE_ADMINFINCAS') %}
		
				<form action="{{ path('ec_incidencia', { 'id': incidencia.id }) }}" method="post" {{ form_enctype(form_privacidad) }}>
    				   <div class="red">{{ form_errors(form_privacidad) }}</div>
    				   
    					<div class="error red">{{ form_errors(form_privacidad.privacidad) }}</div>
       		 		<div class="label_campo2"><strong>{{ form_label(form_privacidad.privacidad) }}:</strong></div>
        				{{ form_widget(form_privacidad.privacidad) }}
        				
    					<input type="submit" value="{% trans %}Cambiar{% endtrans %}"/>
				</form>
				<form action="{{ path('ec_incidencia', { 'id': incidencia.id }) }}" method="post" {{ form_enctype(form_estado) }}>
    				   <div class="red">{{ form_errors(form_estado) }}</div>
    				   
    					<div class="error red">{{ form_errors(form_estado.estado) }}</div>
       		 		<div class="label_campo2"><strong>{{ form_label(form_estado.estado) }}:</strong></div>
        				{{ form_widget(form_estado.estado) }}
        				
    					<input type="submit" value="{% trans %}Actualizar{% endtrans %}"/>
				</form>
				
			{% else %}
				<div><strong>{%trans%}Privacidad{%endtrans%}:</strong> {{incidencia.privacidad.nombre}}</strong></div>
				<div><strong>{%trans%}Estado{%endtrans%}:</strong> {{incidencia.estado.nombre}}</strong></div>
			{% endif %}		
			
			<hr class="azul_oscuro">
			<div><strong>{%trans%}Actuaciones{%endtrans%}:</strong></div>
			{% for actuacion in actuaciones %}
				<div><span class="azul_fuerte">{{actuacion.fecha | date("d/m/Y H:i:s a")}}</span>
				{%if actuacion.usuario is not empty%}
					{% if actuacion.usuario.role.nombre=='ROLE_ADMINFINCAS' %}
						<strong>{{actuacion.usuario.nombre}} {{actuacion.usuario.apellidos}}</strong> ({%trans%}Administrador{%endtrans%})
					{% else %}
						{% if actuacion.usuario.role.nombre=='ROLE_PRESIDENTE' %}
							<strong>{{actuacion.usuario.razon}}</strong> ({%trans%}Presidente{%endtrans%})
						{% else %}
							{% if actuacion.usuario.role.nombre=='ROLE_VICEPRESIDENTE' %}
								<strong>{{actuacion.usuario.razon}}</strong> ({%trans%}Vicepresidente{%endtrans%})
							{% else %}
								<strong>{{actuacion.usuario.razon}}</strong>
							{%endif%}
						{%endif%}
					{% endif %}			
				{% else %}
					<strong>{%trans%}Antiguo propietario{%endtrans%}</strong>
				{% endif %}
				:</div>
				<div class="margen_izquierdo">{{actuacion.mensaje}}</div>
			{% endfor %}

			{% if ( incidencia.estado.id !='3') %}	
            <form action="{{ path('ec_incidencia', { 'id': incidencia.id }) }}" method="post">
    				<div class="red">{{ form_errors(form) }}</div>
    				
    				<div class="campo_login">
       		 		<div class="label_campo negrita">{{ form_label(form.mensaje) }}  (<span id="contador">0/500</span> {% trans %}Caracteres{% endtrans %})</div>
        				<div>{{ form_widget(form.mensaje) }}</div>
        				<div class="error red">{{ form_errors(form.mensaje) }}</div>
    				</div> 		
    				   
    				<div class="campo_login">
    					<input type="submit" value="{% trans %}Enviar{% endtrans %}"/>
    				</div>
				</form>
			{% endif %}
		</div>
	</div>
	
	{% if is_granted('ROLE_VECINO') %}
			<div id="administrador" class="no_mostrar">
				<div class="centrado">
					Administrador: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.nombre}} {{app.user.bloque.comunidad.administrador.apellidos}}</span>
					Teléfono: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.telefono}}</span>
					{% if app.user.bloque.comunidad.administrador.fax!=null%}
						Fax: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.fax}}</span>
					{% endif %}
				</div>
				<div class="centrado">
					Email: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.email}}</span>
					Dirección: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.direccion}}, {{app.user.bloque.comunidad.administrador.localidad}} ({{app.user.bloque.comunidad.administrador.provincia}})</span>
				</div>
			</div>
		{% endif %}
{% endblock %}