{% extends 'ECPrincipalBundle::layout_comunidad.html.twig' %}

{% block title %}
	{{ parent() }}
	{% trans %}Propietarios{% endtrans %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/table.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/menu_acciones.css') }}" type="text/css" rel="stylesheet" />
    <link rel='stylesheet' type='text/css' href="{{ asset('css/botones.css') }}" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type='text/javascript' src="{{ asset('js/jquery.dataTables.js') }}"></script>  
	<script type="text/javascript">
			$(document).ready(function() {
				$('#example').dataTable();
			} );
	</script>
	<script type="text/javascript"> 
	$(function() {
  if ($.browser.msie && $.browser.version.substr(0,1)<7)
  {
    $('li').has('ul').mouseover(function(){
        $(this).children('ul').css('visibility','visible');
        }).mouseout(function(){
        $(this).children('ul').css('visibility','hidden');
        })
  }
}); 
	</script>
{% endblock %}

{% block colder %}
{{ parent() }}
	{% for flashMessage in app.session.flashbag.get('notice') %}
			{% for flashColor in app.session.flashbag.get('color') %}
    			<div class="flash-notice mensaje" style="color:{{flashColor}}; border-color:{{flashColor}};">
        		{{ flashMessage }}
    			</div>
    		{% endfor %}
	{% endfor %}
	
	<hgroup>
		<h2 class="verde centrado">{% trans %}Propietarios{% endtrans %}</h2>
	</hgroup>
	
	<a href="{{ path('ec_adminfincas_comunidad_listado_propietarios_pdf', { 'cif': comunidad.cif }) }}"><img src="{{ asset('images/pdf-icon.png') }}" alt="pdf"></a>
	<a href="{{ path('ec_adminfincas_comunidad_listado_propietarios_csv', { 'cif': comunidad.cif }) }}"><img src="{{ asset('images/csv-icon.png') }}" alt="csv"></a>
	<a class="boton_alta btn_nuevo" href="{{ path('ec_adminfincas_comunidad_alta_propietario', { 'cif': comunidad.cif }) }}">{% trans %}Nuevo propietario{% endtrans %}</a>

	<div id="demo">
		<table class="display" id="example">
			<thead>
				<tr>
					<th>{% trans %}Bloque{% endtrans %}</th>
					<th>{% trans %}Dirección{% endtrans %}</th>
					<th>{% trans %}Propiedad{% endtrans %}</th>
					<th>{% trans %}Nombre/Razón Social{% endtrans %}</th>
					<th>{% trans %}Conexión{% endtrans %}</th>
					<th>{% trans %}Acciones{% endtrans %}</th>
				</tr>
			</thead>
			<tbody>
			{% for bloque in bloques %}
				{% for propiedad in bloque.propiedades%}
					<tr class="gradeX">
					   <td>{{bloque.num}}</td>
					   <td>{{bloque.direccion}}</td>
					   <td>{{propiedad.piso}}</td>
       				<td>{{propiedad.propietario.nombre}}</td>
       				<td>{% if propiedad.propietario.getUltimoLog() is empty %}
								-
       					{% else %}
       						 {{propiedad.propietario.getUltimoLog().fecha | date("d/m/Y H:i") }}
       					{% endif %}
       				</td>
       				<td>
								<ul id="menu_acciones">
									<li><a href="#">{% trans %}Acciones{% endtrans %}</a>
										<ul>
											<li><a href="{{ path('ec_adminfincas_nombrar_presidente', { 'cif' : comunidad.cif, 'id': propiedad.propietario.id }) }}" onclick="return confirm('¿Estás seguro de nombrar a {{propiedad.propietario.nombre}} como nuevo presidente?')">{% trans %}Es presidente{% endtrans %}</a></li>
											<li><a href="{{ path('ec_adminfincas_nombrar_vicepresidente', { 'cif' : comunidad.cif, 'id': propiedad.propietario.id}) }}" onclick="return confirm('¿Estás seguro de nombrar a {{propiedad.propietario.nombre}} como nuevo vicepresidente?')">{% trans %}Es vicepresidente{% endtrans %}</a></li>
											<li><a href="{{ path('ec_adminfincas_comunidad_generar_password_propietario', { 'cif' : comunidad.cif, 'id': propiedad.propietario.id}) }}" onclick="return confirm('¿Estás seguro de generar una nueva contraseña a {{propiedad.propietario.nombre}}?')">Generar contraseña</a></li>
											<li><a href="{{ path('ec_adminfincas_comunidad_eliminar_propietario', { 'cif': comunidad.cif, 'id':propiedad.propietario.id}) }}" onclick="return confirm('¿Estás seguro de eliminar a {{propiedad.propietario.nombre}}?')">Eliminar</a></li>
										</ul>
									</li>
								</ul>
       				</td>
      			</tr>
      		{% endfor %} 
			{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<th>{% trans %}Bloque{% endtrans %}</th>
					<th>{% trans %}Dirección{% endtrans %}</th>
					<th>{% trans %}Propiedad{% endtrans %}</th>
					<th>{% trans %}Nombre/Razón Social{% endtrans %}</th>
					<th>{% trans %}Conexión{% endtrans %}</th>
					<th>{% trans %}Acciones{% endtrans %}</th>
				</tr>
			</tfoot>
		</table>
	</div>

{% endblock %}