{% extends 'ECPrincipalBundle::layout.html.twig' %}

{% block title %}
	{% trans %}Cambiar contraseña{% endtrans %} -
	{{ parent() }}
{% endblock %}

{% block colder %}
	{{ parent() }}
	
	{% for flashMessage in app.session.flashbag.get('notice') %}
			{% for flashColor in app.session.flashbag.get('color') %}
    			<div class="flash-notice mensaje {{flashColor}}">
        			{{ flashMessage }}
    			</div>
    		{% endfor %}
	{% endfor %}

	<section id="form_login">
		<h2 class="centrado">{% trans %}Cambiar contraseña{% endtrans %}</h2>

		{{ form_start(form) }}
    		<div class="red">{{ form_errors(form) }}</div>
 
    		<div class="campo_login">
        		<div class="label_campo2">{{ form_label(form.pass) }}</div>
        		{{ form_widget(form.pass) }}
        		<div class="error red">{{ form_errors(form.pass) }}</div>
    		</div>
 
    		<div class="campo_login">
        		<div class="label_campo2">{{ form_label(form.password.first) }}</div>
        		{{ form_widget(form.password.first) }}
       		 <div class="error red">{{ form_errors(form.password.first) }}</div>        
    		</div>    		
    		
    		<div class="campo_login">
        		<div class="label_campo2">{{ form_label(form.password.second) }}</div>
        		{{ form_widget(form.password.second) }}
       		 <div class="error red">{{ form_errors(form.password.second) }}</div>        
    		</div>  

    		<div class="campo_login">
    			<input type="submit" value="{% trans %}Actualizar{% endtrans %}"/>
    		</div>
 
		{{ form_end(form) }}
	</section>
	
	{% if is_granted('ROLE_VECINO') %}
			<div id="administrador" class="no_mostrar">
				<div class="centrado">
					Administrador: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.nombre}} {{app.user.bloque.comunidad.administrador.apellidos}}</span>
					Teléfono: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.telefono}}</span>
					{% if app.user.bloque.comunidad.administrador.fax!=null%}
						Fax: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.fax}}</span>
					{% endif %}
				</div>
				<div class="centrado">
					Email: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.email}}</span>
					Dirección: <span class="azul_fuerte">{{app.user.bloque.comunidad.administrador.direccion}}, {{app.user.bloque.comunidad.administrador.localidad}} ({{app.user.bloque.comunidad.administrador.provincia}})</span>
				</div>
			</div>
		{% endif %}
{% endblock %}